      <!-- the first Five tables -->      
      <!-- category 1-10 -->      
      <div class="accordion" id="accordion2">
        <!-- category 法人客户授信业务申报书-->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#business/part/basic">法人客户授信业务申报书</a>
          </div>
        </div>
        <!-- end of category 法人客户授信业务申报书 -->      
        <!-- category 资产负债表-->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#business/part/asset">资产负债表</a>
          </div>
        </div>
        <!-- end of category 资产负债表 -->      
        <!-- category 利润表-->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#business/part/profit">利润表</a>
          </div>
        </div>
        <!-- end of category  利润表-->      
        <!-- category 现金流-->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#business/part/cashflow">现金流</a>
          </div>
        </div>
        <!-- end of category 现金流 -->      
        <!-- category 新增授信方案-->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#business/part/program">新增授信方案</a>
          </div>
        </div>
        <!-- end of category 新增授信方案 -->      
        <!-- end of the first Five tables -->      

        <!-- category 1-10 -->      
        <!-- category 一、申请人基本情况 -->      
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapse-company">
              一、 申请人基本情况 <i class="icon-chevron-right"></i>
            </a>
          </div>
          <div id="collapse-company" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-list">
                <li>
                  <a href="#business/part/company-intro">（一） 申请人简介</a>
                  <li>
                    <a href="#business/part/company-holder">（二） 申请人股东、实质控制人情况</a>
                  </li>
                  <li>
                    <a href="#business/part/company-relate">（三） 关联企业情况</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of category 一、申请人基本情况 -->      

          <!-- category 二、授信用途及授信额度需求的合理性分析-->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapse-program">
                二、 授信合理性分析 <i class="icon-chevron-right"></i>
              </a>
            </div>
            <div id="collapse-program" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="nav nav-list">
                  <li>
                    <a href="#business/part/program-purpose">（一） 授信用途</a>
                  </li>
                  <li>
                    <a href="#business/part/program-analyze">（二） 授信用途分析</a>
                  </li>
                  <li>
                    <a href="#business/part/program-reasonable">（三） 授信额度需求的合理性分析</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of category 二、授信用途及授信额度需求的合理性分析-->      

          <!-- category  三、 申请人的经营情况分析 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapse-operate">
                三、 申请人的经营情况分析
                <i class="icon-chevron-right"></i>
              </a>
            </div>
            <div id="collapse-operate" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="nav nav-list">
                  <li>
                    <a href="#business/part/company-position">（一） 企业在行业与产业链中的地位</a>
                  </li>
                  <li>
                    <a href="#business/part/company-credit">（二） 银行信用情况</a>
                  </li>
                  <li>
                    <a href="#business/part/company-contract">（三） 合同统计</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of category  三、 申请人的经营情况分析 -->      

          <!-- category 四、申请人偿债能力分析 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapse-analyze">
                四、 申请人偿债能力分析
                <i class="icon-chevron-right"></i>
              </a>
            </div>
            <div id="collapse-analyze" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="nav nav-list">
                  <li>
                    <a href="#business/part/analyze-operate">（一） 企业经营能力分析</a>
                  </li>
                  <li>
                    <a href="#business/part/analyze-debt">（二） 短期偿债能力分析</a>
                  </li>
                  <li>
                    <a href="#business/part/analyze-long-debt">（三） 长期偿债能力分析</a>
                  </li>
                  <li>
                    <a href="#business/part/analyze-profit">（四） 获利能力分析</a>
                  </li>
                  <li>
                    <a href="#business/part/analyze-cash">（五） 现金流量分析</a>
                  </li>
                  <li>
                    <a href="#business/part/analyze-finance">（六） 总体财务评价</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of category 四、申请人偿债能力分析 -->      

          <!-- category 五、授信担保 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapse-assure">
                五、 授信担保
                <i class="icon-chevron-right"></i>
              </a>
            </div>
            <div id="collapse-assure" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="nav nav-list">
                  <li>
                    <a href="#business/part/assure-ensure">（一） 保证担保方式</a>
                  </li>
                  <li>
                    <a href="#business/part/assure-pawn">（二） 抵押担保方式</a>
                  </li>
                  <li>
                    <a href="#business/part/assure-pledge">（三） 质押担保方式</a>
                  </li>
                  <li>
                    <a href="#business/part/assure-credit">（四） 信用担保方式</a>
                  </li>
                  <li>
                    <a href="#business/part/assure-other">（五） 其他担保方式</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of category  五、授信担保 -->      

          <!-- category  六、申请人与各家银行合作情况 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" href="#business/part/cooperate">六、申请人与各家银行合作情况</a>
            </div>
          </div>
          <!-- end of category 六、申请人与各家银行合作情况 -->      

          <!-- category 七、风险与防范措施 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" href="#business/part/risk">七、风险与防范措施</a>
            </div>
          </div>
          <!-- end of category 七、风险与防范措施 -->      

          <!-- category  八、操作方案详述-->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" href="#business/part/operate">八、操作方案详述</a>
            </div>
          </div>
          <!-- end of category  八、操作方案详述-->      

          <!-- category 九、本次授信收益分析 -->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" href="#business/part/income">九、本次授信收益分析</a>
            </div>
          </div>
          <!-- end of category 九、本次授信收益分析 -->      
          <!-- category 十、结论-->      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" href="#business/part/conclusion">十、结论</a>
            </div>
          </div>
          <!-- end of category 十、结论-->      

          <!-- end of tables 1-10 --> </div>
        <!-- /.accordion -->      
