<tr>
  <td>
    <a class="ex-snippet-del-exist-variety">删除</a>
  </td>
  <td>
    <select>
      <option>流动资金贷款</option>
      <option>银行承兑汇票</option>
      <option>商业承兑汇票保贴</option>
      <option>商业承兑汇票贴现</option>
      <option>信用证</option>
      <option>出口押汇</option>
      <option>进口押汇</option>
    </select>
  </td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">万</span>
    </span>
  </td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">万</span>
    </span>
  </td>
  <td>
    <input type="text"></td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">%</span>
    </span>
  </td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">万</span>
    </span>
  </td>
</tr>