<h4>2、存量授信情况</h4>
<h5>申请人是第<input type="number">次在我行申请授信，目前存量授信情况如下：</h5>
<h5>（1）申请人在我行存量授信</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td>已批额度</td>
    <td>
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
    <td>已批敞口</td>
    <td>
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
  </tr>
  <tr>
    <td>授信到期日：</td>
    <td>
      <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd"/>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>额度循环</td>
    <td>
      <input type="checkbox"/>
    </td>
    <td>调剂使用</td>
    <td>
      <input type="checkbox"/>
    </td>
  </tr>
</table>
<a class="ex-snippet-add-pawn">
  <h5>新增抵押物</h5>
</a>
<table class="table table-bordered table-striped" id="ex-exist-program-pawns"></table>
<a class="ex-snippet-add-pledge">
  <h5>新增质押物</h5>
</a>
<table class="table table-bordered table-striped" id="ex-exist-program-pledges"></table>
<h5>（2）存量授信所产生的效益</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td>存款年日均：</td>
    <td colspan="9">
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
  </tr>
  <tr>
    <td>其中：</td>
    <td>结算存款年日均</td>
    <td colspan="3">
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
    <td colspan="2">保证金存款年日均</td>
    <td colspan="3">
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <a class="ex-snippet-add-row">增加</a>
    </td>
    <td>用信品种</td>
    <td>额度</td>
    <td>敞口</td>
    <td>发放日</td>
    <td>到期日</td>
    <td>利率</td>
    <td>保证金</td>
    <td>担保方式</td>
    <td>风险分类</td>
  </tr>
  <tr style="display:none;" class="ex-snippet">
    <td><a class="ex-snippet-del-row">删除</a></td>
    <td>
      <input type="text">
    </td>
    <td>
      <span class="input-append">
	<input type="number" step="any">
	<span class="add-on">万</span>
      </span>
    </td>
    <td>
      <span class="input-append">
	<input type="number" step="any">
	<span class="add-on">万</span>
      </span>
    </td>
    <td>
      <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd">
    </td>
    <td>
      <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd">
    </td>
    <td>
      <span class="input-append">
	<input type="number" step="any">
	<span class="add-on">%</span>
      </span>
    </td>
    <td>
      <span class="input-append">
        <input type="number" step="any"/>
        <span class="add-on">万</span>
      </span>
    </td>
    <td>
      <input type="text">
    </td>
    <td>
      <input type="text">
    </td>
  </tr>
</table>
<textarea placeholder="详细说明申请人我行历史授信记录、现有授信额度和使用情况、结算与综合收益情况、本行担保情况。"></textarea>
