<tr>
  <td>
    <a class="ex-snippet-del-pledge">删除</a>
    质押物
  </td>
  <td>
    <span class="input-prepend">
      <span class="add-on">位于</span>
      <input type="text"/>
    </span>
  </td>
  <td>权属人</td>
  <td>
    <input type="text"/>
  </td>
</tr>
<tr>
  <td>质押价值</td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">万</span>
    </span>
  </td>
  <td>敞口质押率</td>
  <td>
    <span class="input-append">
      <input type="number" step="any"/>
      <span class="add-on">%</span>
    </span>
  </td>
</tr>
<tr>
  <td>评估方法</td>
  <td colspan="3">
    <input type="text"/>
  </td>
</tr>
<tr>
  <td>保证人</td>
  <td colspan="3">
    <input type="text"/>
  </td>
</tr>