input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    cursor: pointer;
}

select,
input {
    margin: 0;
    text-align: center;
    padding: 0;
    width: auto;
}

textarea {
    width: 100%;
}

.container-fluid{
    margin-top: 41px;
}

.table td{
    text-align: center;
    vertical-align: middle;
}

.table td > * {
    width: 100%;
}

.table td .input-prepend > input,
.table td .input-prepend > select,
.table td .input-prepend > textarea,
.table td .input-append > input,
.table td .input-append > select,
.table td .input-append > textarea{
    width: 80%;
}

.table td .input-prepend > .add-on,
.table td .input-append > .add-on{
    width: 15%;
}

.table th.center {
    text-align: center;
}

.nav-collapse .nav > li > a.btn, .nav-collapse .dropdown-menu a.btn {
    padding: 4px 10px 4px;
    margin: 5px 5px 0 5px;
    font-weight: normal;
}

.nav-collapse .nav > li > a.btn-primary, .nav-collapse .dropdown-menu a.btn-primary {
    color: #ffffff;
}

.nav-collapse .nav > li > a.btn-primary:hover, .nav-collapse .dropdown-menu a.btn-primary:hover {
    background-color: #0044cc;
}

.nav-collapse .nav > li > a.btn-success, .nav-collapse .dropdown-menu a.btn-success {
    color: #ffffff;
}

.nav-collapse .nav > li > a.btn-success:hover, .nav-collapse .dropdown-menu a.btn-success:hover {
    background-color: #51a351;
}

.section {
    margin-top: 30px;
}

.parts input,
.parts select,
.parts textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 30px;
    min-width: 30px;
    margin: 0;
}

.row-fluid .sign.span4 {
    margin: 30px auto;
    float: none;
}

.center {
	text-align: center;
}

.m0 {
    margin: 0px;
}
.mt15 {
    margin-top: 15px;
}

.b0 {
    border: 0;
}

.bg-success {
    background-color: rgb(223, 240, 216);
}