﻿<!-- 四、 申请人偿债能力分析（一）  企业经营能力分析-->
<div class="ex-part" id="ex-part-analyze-operate" style="display:none;">
  <h3>四、 申请人偿债能力分析</h3>
  <h4>（一）企业经营能力分析</h4>
  <h4>1、流动资产分析：</h4>
  <h4>（1）货币资金（单位：万元）</h4>
  <h5>当期货币资金明细</h5>
  <table class="table table-bordered table-striped ex-auto-sum">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>账户性质</td>
      <td>开户银行</td>
      <td>账号</td>
      <td>账户余额</td>
      <td>其中保证金或质押存款</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.bank_accounts.arr.mtype"/>
      </td>
      <td>
        <input type="text" field-name="company.bank_accounts.arr.name"/>
      </td>
      <td>
        <input type="text" field-name="company.bank_accounts.arr.account"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_accounts.arr.over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_accounts.arr.deposit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td>合计</td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>

  <h5>货币资金变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <input type="text" data-equation="company.asset_debts.0.report_time" disabled/>
      </td>
      <td>
        <input type="text" data-equation="company.asset_debts.1.report_time" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td>
        <input type="text" data-equation="company.asset_debts.2.report_time" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="company.asset_debts.0.cash" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="company.asset_debts.1.cash" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="company.asset_debts.1.cash - company.asset_debts.0.cash" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="(company.asset_debts.1.cash - company.asset_debts.0.cash) / company.asset_debts.0.cash * 100" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="company.asset_debts.2.cash" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="company.asset_debts.2.cash - company.asset_debts.1.cash" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" data-equation="(company.asset_debts.2.cash - company.asset_debts.1.cash) / company.asset_debts.1.cash * 100" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-equation="(company.asset_debts.2.cash - company.asset_debts.1.cash) / company.asset_debts.1.cash > 0.1" data-target="company.analyze.cash_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.cash_change"></textarea>
  </div>

  <h4>（2）应收票据（单位：万元）</h4>
  <h5>当期应收票据明细</h5>
  <table class="table table-bordered table-striped ex-auto-sum">
    <tr>
      <td>应收票据</td>
      <td>金额</td>
      <td>说明</td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td>合计</td>
      <td style="display:none;"></td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled="">
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>银行承兑汇票</td>
      <td style="display:none;">
        <input type="number" step="any" name="company.bills.0.mtype" value="银行承兑汇票"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.bills.0.amount" class="ex-auto-source"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" name="company.bills.0.remark"/>
      </td>
    </tr>
    <tr>
      <td>商业承兑汇票</td>
      <td style="display:none;">
        <input type="number" step="any" name="company.bills.1.mtype" value="商业承兑汇票" class="ex-auto-source"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.bills.1.amount"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" name="company.bills.1.remark"/>
      </td>
    </tr>
    <tr>
      <td>其他票据</td>
      <td style="display:none;">
        <input type="number" step="any" name="company.bills.2.mtype" value="其他票据" class="ex-auto-source"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.bills.2.amount"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" name="company.bills.2.remark"/>
      </td>
    </tr>
    <tr>
      <td>其中：已质押票据</td>
      <td style="display:none;">
        <input type="number" step="any" name="company.bills.3.mtype" value="已质押票据" class="ex-auto-source"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.bills.3.amount"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" name="company.bills.3.remark"/>
      </td>
    </tr>
  </table>

  <h5>其中：商业承兑汇票明细表（含已贴现未到期部分）</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>承兑人</td>
      <td>金额</td>
      <td>出票日</td>
      <td>到期日</td>
      <td>办公电话</td>
      <td>业务关系</td>
      <td>担保或前手</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.bill_details.arr.response"></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.bill_details.arr.amount"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" field-name="company.bill_details.arr.create_date"/>
      </td>
      <td>
        <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" field-name="company.bill_details.arr.expire_date"/>
      </td>
      <td>
        <input type="text" field-name="company.bill_details.arr.phone"></td>
      <td>
        <input type="text" field-name="company.bill_details.arr.relation"></td>
      <td>
        <input type="text" field-name="company.bill_details.arr.previous_owner"></td>
    </tr>

  </table>

  <h5>应收票据变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <input type="text" disabled/>
      </td>
      <td>
        <input type="text" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td>
        <input type="text" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.bill_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.bill_change"></textarea>
  </div>

  <h4>（3）应收账款（单位：万元）</h4>
  <h5>当期应收账款明细</h5>
  <table class="table table-bordered table-striped ex-auto-sum">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>债务人名称</td>
      <td>办公电话</td>
      <td>年销售</td>
      <td>净资产</td>
      <td>欠款原因和关联关系</td>
      <td>欠款金额</td>
      <td>期限</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.receivables.arr.name"/>
      </td>
      <td>
        <input type="text" field-name="company.receivables.arr.phone"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.receivables.arr.sale">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.receivables.arr.asset">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.receivables.arr.reason"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.receivables.arr.amount">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.receivables.arr.expire"/>
      </td>
    </tr>

    <tr class="ex-auto-result-sum">
      <td></td>
      <td>合计</td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
    </tr>
  </table>

  <h5>应收账款变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <input type="text" disabled/>
      </td>
      <td>
        <input type="text" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td>
        <input type="text" disabled/>
      </td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.receivable_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.receivable_change"></textarea>
  </div>

  <h4>（4）存货（单位：万元）</h4>
  <h5>当期存货明细</h5>
  <h5>原材料表：</h5>
  <table class="table table-bordered table-striped ex-auto-sum">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>原材料名称、规格</td>
      <td>购买价</td>
      <td>近期价</td>
      <td>年采购数量</td>
      <td>库存数量</td>
      <td>存放地（仓库）</td>
      <td>是否抵押</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td style="display:none;">
        <input type="text" field-name="company.inventorys.arr.mtype" value="raw"/>
      </td>
      <td>
        <input type="text" field-name="company.inventorys.arr.name"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.cost_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.market_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input class="ex-auto-source" type="number" field-name="company.inventorys.arr.purchase_count"/>
      </td>
      <td>
        <input class="ex-auto-source" type="number" field-name="company.inventorys.arr.count"/>
      </td>
      <td>
        <input type="number" field-name="company.inventorys.arr.address"/>
      </td>
      <td>
        <select field-name="company.inventorys.arr.is_pledge">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </td>
    </tr>

    <tr class="ex-auto-result-sum">
      <td></td>
      <td>小计</td>
      <td style="display:none;">
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
          <input type="number" step="any" disabled>
      </td>
      <td>
          <input type="number" step="any" disabled>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <h5>半成品表：</h5>
  <table class="table table-bordered table-striped ex-auto-sum">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>半成品名称、规格</td>
      <td>成本价</td>
      <td>市场价</td>
      <td>年销售金额</td>
      <td>库存数量</td>
      <td>存放地（仓库）</td>
      <td>是否抵押</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td style="display:none;">
        <input type="text" field-name="company.inventorys.arr.mtype" value="half_product"/>
      </td>
      <td>
        <input type="text" field-name="company.inventorys.arr.name"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.cost_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.market_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.purchase_count">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input class="ex-auto-source" type="number" field-name="company.inventorys.arr.count"/>
      </td>
      <td>
        <input type="text" field-name="company.inventorys.arr.address"/>
      </td>
      <td>
        <select field-name="company.inventorys.arr.is_pledge">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </td>
    </tr>

    <tr class="ex-auto-result-sum">
      <td></td>
      <td>小计</td>
      <td style="display:none;">
      </td>
      <td> 
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
       <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
          <input type="number" step="any" disabled>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <h5>产成品表：</h5>
  <table class="table table-bordered table-striped ex-auto-sum">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>产成品名称、规格</td>
      <td>成本价</td>
      <td>市场价</td>
      <td>年销售金额</td>
      <td>库存数量</td>
      <td>存放地（仓库）</td>
      <td>主要销售对象及地区</td>
      <td>是否抵押</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td style="display:none;">
        <input type="text" field-name="company.inventorys.arr.mtype" value="product"/>
      </td>
      <td>
        <input type="text" field-name="company.inventorys.arr.name"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.cost_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.market_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.inventorys.arr.market_price">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input class="ex-auto-source" type="number" field-name="company.inventorys.arr.count"/>
      </td>
      <td>
        <input class="ex-auto-source" type="text" field-name="company.inventorys.arr.address"/>
      </td>
      <td>
        <input type="text" field-name="company.inventorys.arr.sale_target"/>
      </td>
      <td>
        <select field-name="company.inventorys.arr.is_pledge">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </td>
    </tr>

    <tr class="ex-auto-result-sum">
      <td></td>
      <td>小计</td>
      <td style="display:none;">
      </td>
      <td> 
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
       <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
          <input type="number" step="any" disabled>
      </td>
      <td>
          <input type="number" step="any" disabled>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <table class="table table-bordered table-striped">
    <tr>
      <td>合计</td>
      <td>成本价</td>
      <td>市场价</td>
      <td>年销售金额</td>
      <td>库存数量</td>
    </tr>
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
    </tr>
  </table>

  <h5>存货变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.inventory_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.inventory_change"></textarea>
  </div>

  <h4>2、固定资产分析</h4>
  <h5>固定资产与无形资产</h5>
  <table class="table table-bordered table-striped">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>资产名称</td>
      <td>原始价值</td>
      <td>帐面价值</td>
      <td>权证名称及权证号码</td>
      <td>登记所有权人</td>
      <td>存抵、质押情况</td>
      <td>存放位置</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.fixed_assets.arr.name"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.fixed_assets.arr.origin_value">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.fixed_assets.arr.book_value">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.fixed_assets.arr.cert_number"/>
      </td>
      <td>
        <input type="text" field-name="company.fixed_assets.arr.owner"/>
      </td>
      <td>
        <input type="text" field-name="company.fixed_assets.arr.pledge"/>
      </td>
      <td>
        <input type="text" field-name="company.fixed_assets.arr.address"/>
      </td>
    </tr>
  </table>

  <h5>固定资产与无形资产变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.fixed_asset_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.fixed_asset_change"></textarea>
  </div>

  <h4>3、长期投资分析</h4>
  <table class="table table-bordered table-striped">

    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>长期投资类型</td>
      <td>投资项目名称</td>
      <td>项目总投资</td>
      <td>企业投资金额</td>
      <td>投资年限</td>
      <td>年收益</td>
    </tr>

    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.long_invests.arr.mtype"/>
      </td>
      <td>
        <input type="text" field-name="company.long_invests.arr.name"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.long_invests.arr.total_invest">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.long_invests.arr.self_invest">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="number" field-name="company.long_invests.arr.expire"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.long_invests.arr.income">
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>

  <h5>长期投资变动情况</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.long_invest_change">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.long_invest_change"></textarea>
  </div>

</div>
<!-- end of 四、 申请人偿债能力分析（一） 企业经营能力分析-->
