﻿<!-- 四、 申请人偿债能力分析（五） 现金流量分析-->
<div class="ex-part" id="ex-part-analyze-cash" style="display:none;">

  <h3>四、 申请人偿债能力分析</h3>
  <h4>（五）现金流量分析</h4>
  <table class="table table-bordered table-striped"> 
    <tr>
      <td>项目</td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td> 
      <td><input type="text" disabled/></td>
    </tr>
    <tr>
      <td>经营活动净现金流量</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>         
    </tr>
    <tr>
      <td>投资活动净现金流量</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>         
    </tr>
    <tr>
      <td>筹资活动净现金流量</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>         
    </tr>
    <tr>
      <td>净现金流</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>         
    </tr>
  </table>
  
  <textarea rows="4" placeholder="分析现金流变动情况，若现金流量连续出现负数的，要求分析详细解释原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.cash_flow"></textarea>

</div>
<!-- end of 四、 申请人偿债能力分析（五） 现金流量分析-->
