﻿<!-- 四、 申请人偿债能力分析 （二） 短期偿债能力分析-->
<div class="ex-part" id="ex-part-analyze-debt" style="display:none;">

  <h3>四、 申请人偿债能力分析</h3>
  <h4>（二） 短期偿债能力分析</h4>	
  <h4>1、流动比率</h4>
  <h5>流动比率</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>      
    </tr>
    <tr>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.flow_rate">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。若企业因单一合同相关财务数据出现激增需在此说明原因。" name="company.analyze.flow_rate"></textarea>
  </div>

  <h4>2、速动比率</h4>
  <h5>速动比率</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>      
    </tr>
    <tr>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.quick_rate">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。若企业因单一合同相关财务数据出现激增需在此说明原因。" name="company.analyze.quick_rate"></textarea>
  </div>
</div>
<!-- end of 四、 申请人偿债能力分析 （二） 短期偿债能力分析-->
