﻿<!-- 四、 申请人偿债能力分析（三）长期偿债能力分析-->
<div class="ex-part" id="ex-part-analyze-long-debt" style="display:none;">
  <h3>四、 申请人偿债能力分析</h3>
  <h4>（三）长期偿债能力分析</h4>
  
  <h4>1、资产负债比</h4>
  <h5>资产负债比</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>      
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.debt_rate">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.debt_rate"></textarea>
  </div>
  
  <h4>2、负债与股东收益比</h4>  
  <h5>负债与股东收益比</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>      
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.income_rate">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.income_rate"></textarea>
  </div>
  
  <h4>3、已获利息倍数</h4>  
  <h5>已获利息倍数</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>      
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.interest_time">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="已获利息倍数应大于1，对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.interest_time"></textarea>
  </div>

  <h4>4、债务本息偿付比</h4>  
  <h5>债务本息偿付比</h5>           
  <table class="table table-bordered table-striped"> 
    <tr>
      <td><input type="text" disabled/></td>
      <td><input type="text" disabled/></td>
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
      <td><input type="text" disabled/></td>      
      <td>比上期增减额</td>
      <td>比上期增减百分比</td>
    </tr>
    <tr>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
  </table>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-target="company.analyze.debt_repay_rate">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.debt_repay_rate"></textarea>
  </div>

</div>	 	 	 		
<!-- end of 四、 申请人偿债能力分析（三）长期偿债能力分析-->
