﻿<!-- 四、 申请人偿债能力分析（六） 总体财务评价-->
<div class="ex-part" id="ex-part-analyze-finance" style="display:none;">

  <h3>四、 申请人偿债能力分析</h3>
  <h4>（六） 总体财务评价</h4>
  
  <textarea rows="4" placeholder="根据分析申请人的项目现金流、生产经营产生的现金流、综合收益及其他合法收入情况，预测其未来的还款计划与资金来源是否平衡，判断其还款能力及可行性。对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。" name="company.analyze.finance"></textarea>

</div>
<!-- end of 四、 申请人偿债能力分析（六） 总体财务评价-->
