<!-- 资产负债表 -->
<div class="ex-part" id="ex-part-asset" style="display:none;">
  <h3>
    资产负债表(单位：万元)
  </h3>
  <h4>
    报表列数：
    <select class="ex-snippet-set-finance">
      <option value="4">四列</option>
      <option value="5">五列</option>
    </select>
  </h4>
  <table class="table table-bordered table-striped"> 
   <tr style="display:none;">
      <td>
        <a class="ex-snippet-add-col">增加</a>
      </td>
      <td style="display:none;" class="ex-snippet">
        <a class="ex-snippet-del-col">删除</a>
      </td>
    </tr>
    <tr>
      <th>报告期</th>
      <td style="display:none;" class="ex-snippet">
        <input type="text" class="ex-datepicker ex-auto-source ex-auto-source-date ex-auto-source-compute" data-date-format="yyyy-mm"
         data-date-viewmode="years" data-date-minviewmode="months" 
         field-name="company.asset_debts.arr.report_time"/>
      </td>
    </tr>
    <tr>
      <td>报表类型</td>
      <td style="display:none;" class="ex-snippet">
	<select field-name="company.asset_debts.arr.report_type">
	  <option>月报</option>
	  <option>年报</option>
	</select>
      </td>
    </tr>
    <tr>
      <th>流动资产：</th>
      <td style="display:none;" class="ex-snippet"></td>
    </tr>
    <tr>
      <td>货币资金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" class="ex-auto-source ex-auto-source-compute" field-name="company.asset_debts.arr.cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>短期投资</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.short_invest"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应收票据</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.receive_bill"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应收账款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.receivable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预付账款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pre_pay"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他应收款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_receivable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>存货</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.inventory"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>待摊费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.await_receivable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>待处理流动资产净损失</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.await_circle_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>一年内到期的长期债权</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.expire_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其它流动资产</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_circle_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>附属企业往来</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.attached_company_between"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>流动资产合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_circle_asset"/>
          <span class="add-on">万</span>
        </span>	
      </td>
    </tr>
    <tr>
      <th>长期投资：</th>
      <td style="display:none;" class="ex-snippet">
      </td>
    </tr>
    <tr>
      <td>长期投资</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.long_invest"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>固定资产：</th>
      <td style="display:none;" class="ex-snippet"></td>
    </tr>
    <tr>
      <td>固定资产原价</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.fixed_origin"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：累计折旧</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.fixed_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产净值</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.fixed_real"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产清理</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.fixed_price"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产构建支出</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.fixed_repair"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>在建工程</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.current_build"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>待处理固定资产净损失</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.await_fixed_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_fixed_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th colspan="4">无形资产及递延资产：</th>
    </tr>
    <tr>
      <td>无形资产</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.invisible_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>长期待摊费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.long_wait_pay"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>无形资产及递延资产合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_invisible_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th colspan="4">其他资产：</th>
    </tr>
    <tr>
      <td>递延税项借项</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.defer_tax"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>资产总计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th colspan="4">流动负债：</th>
    </tr>
    <tr>
      <td>短期借款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.short_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付票据</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_bill"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付账款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.payable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预收账款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pre_receive"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他应付款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_pay"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付工资</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_wage"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付福利费</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_welfare"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应交税金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_tax"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付利润</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他应交款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_payable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预提费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.await_payable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预计负债</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.guess_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>一年内到期的长期负债</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.expire_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他流动负债</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_circle_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>流动负债合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_circle_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th colspan="4">长期负债：</th>
    </tr>
    <tr>
      <td>长期借款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.long_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>应付债券</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.pay_bond"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>长期应付款</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.long_payable"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他长期负债</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.other_long_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>长期负债合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_long_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>负债总计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th colspan="4">所有者权益：</th>
    </tr>
    <tr>
      <td>实收资本</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.receive_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>资本公积</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.addition_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>盈余公积</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.surplus_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>未分配利润</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.unallocate_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>所有者权益合计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_right"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>负债及所有者权益总计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.asset_debts.arr.total_debt_right"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>
</div>
<!-- end of 资产负债表 -->
