<div class="ex-part" id="ex-part-assure-ensure" style="display:none;">
  <h3>五、授信担保情况</h3>
  <h4>(一)保证担保方式(按保证人要求调查保证人)</h4>
  <div>
    <h5>
      <a class="ex-snippet-add">增加担保人</a>
    </h5>
    <div style="display:none;" class="ex-snippet">
      <h4>保证人 (个人):</h4>
      <h5>
        1、保证人是否保证人实际控制人
        <!-- TODO: Fix this. -->
        <select>
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </h5>
      <h5>2、保证人情况简介</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td>姓名</td>
          <td>
            <input type="text" field-name="assure_persons.arr.name"/>
          </td>
          <td>是否保证人股东</td>
          <td>
            <select field-name="assure_persons.arr.is_holder">
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>年龄</td>
          <td>
            <input type="number" field-name="assure_persons.arr.age"/>
          </td>
          <td>学历</td>
          <td>
            <input type="text" field-name="assure_persons.arr.education"/>
          </td>
          <td>技术职称</td>
          <td>
            <input type="text" field-name="assure_persons.arr.title"/>
          </td>
        </tr>
      </table>
      <table class="table table-bordered table-striped ex-auto-sum">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>资产类型</td>
          <td>权属人</td>
          <td>权属证明资料</td>
          <td>地址</td>
          <td>是否抵质押</td>
          <td>现时市场评估值</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" field-name="assure_persons.arr.assets.arr.mtype"/>
          </td>
          <td>
            <input type="text" field-name="assure_persons.arr.assets.arr.owner"/>
          </td>
          <td>
            <input type="text" field-name="assure_persons.arr.assets.arr.owner_cert"/>
          </td>
          <td>
            <input type="text" field-name="assure_persons.arr.assets.arr.address"/>
          </td>
          <td>
            <select field-name="assure_persons.arr.assets.arr.is_pledge">
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
          <td>
            <span class="input-append">
              <input class="ex-auto-source" type="number" step="any" field-name="assure_persons.arr.assets.arr.market_price"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr class="ex-auto-result-sum">
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <span class="input-append">
              <input type="number" step="any" disabled>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
      </table>
      <h5>3、保证人垫款、欠息等非正常银行业务情况说明</h5>
      <h5>
        保证人是否曾经发生垫款、欠息等非正常银行业务情况
	<select class="ex-snippet-exist" field-data-target="assure_persons.arr.abnormal_detail">
	  <option value="false">否</option>
	  <option value="true">是</option>
	</select>
      </h5>
      <div style="display:none;">
        <textarea placeholder="需对垫款、欠息等非正常银行业务情况进行说明" field-name="assure_persons.arr.abnormal_detail"></textarea>
      </div>
      <h5>
        4、保证人曾有为其他企业提供的担保情况
	<select class="ex-snippet-exist" field-data-target="assure_persons.arr.assured_objects">
	  <option value="false">否</option>
	  <option value="true">是</option>
	</select>
      </h5>
      <div style="display:none;">
        <h5>保证人为其他企业担保具体明细如下:</h5>
        <table class="table table-bordered table-striped">
          <tr>
            <td>
              <a class="ex-snippet-add-row">增加</a>
            </td>
            <td>保证合同编号</td>
            <td>保证合同金额</td>
            <td>借款人</td>
            <td>业务品种</td>
            <td>余额</td>
            <td>敞口</td>
          </tr>
          <tr style="display:none;" class="ex-snippet">
            <td>
              <a class="ex-snippet-del-row">删除</a>
            </td>
            <td>
              <input type="text" field-name="assure_persons.arr.assured_objects.arr.number"/>
            </td>
            <td>
              <span class="input-append">
                <input type="number" step="any" field-name="assure_persons.arr.assured_objects.arr.amount"/>
                <span class="add-on">万</span>
              </span>
            </td>
            <td>
              <input type="text" field-name="assure_persons.arr.assured_objects.arr.borrower"/>
            </td>
            <td>
              <select field-name="assure_persons.arr.assured_objects.arr.mtype">
                <option>银承</option>
                <option>贷款</option>
                <option>贸易融资</option>
              </select>
            </td>
            <td>
              <span class="input-append">
                <input type="number" step="any" field-name="assure_persons.arr.assured_objects.arr.over"/>
                <span class="add-on">万</span>
              </span>
            </td>
            <td>
              <span class="input-append">
                <input type="number" step="any" field-name="assure_persons.arr.assured_objects.arr.expose"/>
                <span class="add-on">万</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <textarea placeholder="根据以上各表,综合分析说明保证人保证意愿、资产实力、担保能力等。" field-name="assure_persons.arr.ability"></textarea>
      </div>
    </div>
  </div>

  <div>
    <h5>
      <a class="ex-snippet-add">增加担保企业</a>
    </h5>
    <div style="display:none;" class="ex-snippet">
      <h4>保证人 (企业):</h4>
      <p>保证人企业是否关联企业</p>
      <select>
        <option>是</option>
        <option>否</option>
      </select>
      <h4>录入保证人财务报表</h4>
      <h4>资产负债表(单位:万元)</h4>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-col">增加</a>
          </td>
          <td style="display:none;" class="ex-snippet">
            <a class="ex-snippet-del-col">删除</a>
          </td>
        </tr>
        <tr>
          <th>报告期</th>
          <td style="display:none;" class="ex-snippet">
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"/>
          </td>
        </tr>
        <tr>
          <td>报表类型</td>
          <td style="display:none;" class="ex-snippet">
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <th>流动资产：</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>货币资金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>短期投资</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应收票据</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应收账款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预付账款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他应收款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>存货</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>待摊费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>待处理流动资产净损失</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>一年内到期的长期债权</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其它流动资产</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>附属企业往来</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>流动资产合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>长期投资：</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>长期投资</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>固定资产：</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>固定资产原价</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：累计折旧</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产净值</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产清理</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产构建支出</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>在建工程</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>待处理固定资产净损失</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th colspan="4">无形资产及递延资产：</th>
        </tr>
        <tr>
          <td>无形资产</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>长期待摊费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>无形资产及递延资产合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th colspan="4">其他资产：</th>
        </tr>
        <tr>
          <td>递延税项借项</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th colspan="4">流动负债：</th>
        </tr>
        <tr>
          <td>短期借款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付票据</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付账款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预收账款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预收帐款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他应付款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付工资</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付福利费</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应交税金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付利润</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他应交款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预提费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预计负债</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>一年内到期的长期负债</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他流动负债</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>流动负债合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th colspan="4">长期负债：</th>
        </tr>
        <tr>
          <td>长期借款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>应付债券</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>长期应付款</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他长期负债</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>长期负债合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>负债总计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th colspan="4">所有者权益：</th>
        </tr>
        <tr>
          <td>实收资本</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>资本公积</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>盈余公积</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>未分配利润</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>所有者权益合计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>负债及所有者权益总计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
      </table>
      <h4>利润表(单位:万元)</h4>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-col">增加</a>
          </td>
          <td style="display:none;" class="ex-snippet">
            <a class="ex-snippet-del-col">删除</a>
          </td>
        </tr>
        <tr>
          <th>报告期</th>
          <td style="display:none;" class="ex-snippet">
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"/>
          </td>
        </tr>
        <tr>
          <td>报表类型</td>
          <td style="display:none;" class="ex-snippet">
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <th>一、主营业务收入</th>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：主营业务成本</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>主营业务税金及附加</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr></tr>
        <tr>
          <th>二、主营业务利润</th>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>加：其他业务利润</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：营业费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>管理费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>财务费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>三、营业利润</th>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>加：投资收益</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>补贴收入</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>营业外收入</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：营业外支出</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>四、利润总额</th>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：所得税</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>五、净利润</th>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
      </table>

      <h4>现金流（单位：万元）</h4>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-col">增加</a>
          </td>
          <td style="display:none;" class="ex-snippet">
            <a class="ex-snippet-del-col">删除</a>
          </td>
        </tr>
        <tr>
          <th>报告期</th>
          <td style="display:none;" class="ex-snippet">
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"/>
          </td>
        </tr>
        <tr>
          <td>报表类型</td>
          <td style="display:none;" class="ex-snippet">
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <th>一、经营活动产生的现金流量:</th>
          <td style="display:none;" class="ex-snippet">
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <td>销售商品、提供劳务收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>收到的税费返还</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>收到的其他与经营活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营活动现金流入小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>购买商品、接受劳务支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>支付给职工以及为职工支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>支付各项税费</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>支付的其他与经营活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营活动现金流出小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营活动产生的现金流量净额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>二、投资活动产生的现金流量：</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>收回投资所收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>取得投资收益所收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>处置固定资产、无形资产和其他长期资产而收到的现金净额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>收到的其他与投资活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>投资活动现金流入小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>购建固定资产、无形资产和其他长期资产支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>投资所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>债权性投资所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>支付的其他与投资活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>投资活动现金流出小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>投资活动产生的现金流量净额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>三、筹资活动产生的现金流量:</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>吸收权益性投资所收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>发行债券所收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>借款所收到的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>收到的其他与筹资活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>筹资活动现金流入小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>偿还债务所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>发生筹资费用所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>分配股利或利润所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>偿付利息所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>融资租赁所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减少注册资本所支付的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>支付的其他与筹资活动有关的现金</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>筹资活动现金流出小计</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>筹资活动产生的现金流量净额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>四、汇率变动对现金的影响额</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <th>五、现金及现金等价物净增加额</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <th>附注</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <th>1、不涉及现金收支的投资和筹资活动</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>债务转为资本</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>一年内到期的可转换公司债券</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>融资租赁固定资产</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>2、将净利润调节为经营活动现金流量</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>净利润</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>少数股东损益</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>加：计提的资产减值准备</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产折旧</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>无形资产摊销</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>长期待摊费用摊销</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>待摊费用减少(减：增加)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>预提费用增加(减：减少)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>处置固定无形、无形资产和其他长期资产损失(减：收益)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>固定资产报废损失</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>财务费用</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>投资损失(减：收益)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>递延税款贷项(减：借项)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>存货的减少(减：增加)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营性应收项目的减少(减：增加)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营性应付项目的增加(减：减少)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>增值税增加净额(减减少)</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>其他</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营活动产生之现金流量净额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <th>3、现金及现金等价物净增加情况</th>
          <td style="display:none;" class="ex-snippet"></td>
        </tr>
        <tr>
          <td>货币资金的期末余额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>减：货币资金的期初余额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>加： 现金等价物的期末余额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>现金等价物的期初余额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>现金及现金等价物净增加额</td>
          <td style="display:none;" class="ex-snippet">
            <span class="input-append">
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
      </table>

      <h4>1、保证人基本情况</h4>

      <h5>(1)保证人简介</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td>项目</td>
          <td>选项</td>
        </tr>
        <tr>
          <td>客户名称</td>
          <td></td>
        </tr>
        <tr>
          <td>法人代表</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>实质控制人</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>成立时间</td>
          <td>
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" />
          </td>
        </tr>
        <tr>
          <td>注册资本</td>
          <td>
            <span class="input-append input-prepend">
              <select style="width: 20%;" >
                <option>人民币</option>
                <option>美元</option>
                <option>澳元</option>
                <option>日元</option>
              </select>
              <input type="number" step="any" style="width: 62%;" />
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>实收资本</td>
          <td>
            <span class="input-append input-prepend">
              <select style="width: 20%;">
                <option>人民币</option>
                <option>美元</option>
                <option>澳元</option>
                <option>日元</option>
              </select>
              <input type="number" step="any" style="width: 62%;">
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营范围</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>营业执照有效期限</td>
          <td>
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <td>组织机构代码证有效期限</td>
          <td>
            <input type="text"/>
          </td>
        </tr>
        <tr>
          <td>营业执行、组织机构代码证是否年审合格</td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>行业</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>公司类型</td>
          <td>
            <select >
              <option>有限责任公司</option>
              <option>股份有限公司</option>
              <option>非公司企业法人</option>
              <option>个人独资企业</option>
              <option>合伙企业</option>
              <option>中外合资企业</option>
              <option>中外合作企业</option>
              <option>外商独资企业</option>
              <option>外商独资股份有限公司</option>
              <option>外国（地区）企业常驻代表机构</option>
              <option>合资经营（港、澳、台资）</option>
              <option>合作经营（港、澳、台资）</option>
              <option>独资经营（港、澳、台资）</option>
              <option>个体户</option>
              <option>三来一补</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>企业类型</td>
          <td>
            <select >
              <option>微型</option>
              <option>小型</option>
              <option>中型</option>
              <option>大型</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>客户类型</td>
          <td>
            <select >
              <option>普通客户</option>
              <option>内部关联人客户</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>资金来源</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>经营场所地址</td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>经营场所所有权</td>
          <td>
            <select >
              <option>自有</option>
              <option>租赁</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>经营场所面积</td>
          <td>
            <span class="input-append" >
              <input type="number" step="any"/>
              <span class="add-on">平方米</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营场所市场价值</td>
          <td>
            <span class="input-append" >
              <input type="number" step="any"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>经营场所是否抵押</td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>经营场所所属土地性质</td>
          <td>
            <select >
              <option>国有土地</option>
              <option>集体土地</option>
              <option>划拔土地</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>股东数量</td>
          <td>
            <input type="number" />
          </td>
        </tr>
        <tr>
          <td>是否有关联企业</td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>在职员工人数</td>
          <td>
            <input type="number" />
          </td>
        </tr>
      </table>

      <h5>(2) 保证人股东简介</h5>
      <h6>1、保证人股权构成：</h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>股东名称</td>
          <td>营业执照号码（身份证号）</td>
          <td>出资金额</td>
          <td>出资方式</td>
          <td>股权比例</td>
          <td>主营业务</td>
          <td>办公电话</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <span class="input-append">
              <input type="text"/>
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text"/>
          </td>
        </tr>
      </table>

      <h6>2、企业核心经营管理人员介绍（包括董事长、总经理、财务负责人、实质投资人等）</h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>姓名</td>
          <td>职位</td>
          <td>年龄</td>
          <td>学历</td>
          <td>技术职称</td>
          <td>从事行业年限</td>
          <td>进入企业时间</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text"/>
          </td>
          <td>
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" name="company.establish_time"></td>
        </tr>
      </table>

      <h6>3、企业员工构成情况</h6>

      <p>企业员工结构表一：</p>
      <table class="table table-bordered table-striped">
        <tr>
          <td rowspan="2"></td>
          <td rowspan="2">总  数</td>
          <td colspan="4" rowspan="1">其中</td>
        </tr>
        <tr>
          <td>生产人员</td>
          <td>技术人员</td>
          <td>销售人员</td>
          <td>管理人员</td>
        </tr>
        <tr>
          <td>员工数量</td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
        </tr>
      </table>

      <p>企业员工结构表二：</p>
      <table class="table table-bordered table-striped">
        <tr>
          <td></td>
          <td>合计</td>
          <td>硕士及以上</td>
          <td>本科</td>
          <td>大专</td>
          <td>中专及以下</td>
        </tr>
        <tr>
          <td>学历情况</td>
          <td></td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
          <td>
            <input type="number"/>
          </td>
        </tr>
      </table>

      <h4>4、股东或实质控制人简介</h4>
      <textarea rows="4"></textarea>

      <h5>(3)保证人关联企业简介:</h5>

      <h6>（1）实质控制人投资企业概况</h6>

      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>企业名称</td>
          <td>是否年审合格</td>
          <td>注册资本</td>
          <td>出资金额</td>
          <td>出资方式</td>
          <td>是否由他人代持股</td>
          <td>代持股人姓名</td>
          <td>代持股人与实际控制人关系</td>
          <td>股权比例</td>
          <td>主营业务</td>
        </tr>
        <tr style="display: none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <select>
              <option>父母</option>
              <option>兄弟</option>
              <option>姐妹</option>
              <option>子女</option>
              <option>配偶</option>
            </select>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
      </table>

      <h4>
        是否有关联企业:
        <select class="ex-snippet-exist">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </h4>
      <div style="display:none;" class="ex-snippet">
        <h5>（2）关联公司情况</h5>
        <h5>
          <a class="ex-snippet-add">增加关联企业</a>
        </h5>
        <div style="display:none;" class="ex-snippet">
          <table class="table table-bordered table-striped">
            <tr>
              <td>
                <a class="ex-snippet-del">删除</a>
                公司名称
              </td>
              <td>
                <input type="text"></td>
              <td>时间</td>
              <td>
                <input type="text" class="ex-datepicker" data-date-format="yyyy " data-date-viewmode="years" data-date-minviewmode="years"></td>
            </tr>
            <tr>
              <td>年度流动资产</td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>

              </td>
              <td>年度销售收入</td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>

              </td>
            </tr>
            <tr>
              <td>年度流动负债</td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>

              </td>
              <td>年度净利润</td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>

              </td>
            </tr>
            <tr>
              <td>年度总资产</td>
              <td colspan="3">
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>年度总负债</td>
              <td colspan="3">
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>
              </td>
            </tr>
          </table>
          <table class="table table-bordered table-striped">
            <tr>
              <td>
                <a class="ex-snippet-add-row">增加</a>
              </td>
              <td>股东名称</td>
              <td>股东名称</td>
              <td>出资金额</td>
              <td>出资方式</td>
              <td>股权比例</td>
              <td>主营业务</td>
            </tr>
            <tr style="display: none;" class="ex-snippet">
              <td>
                <a class="ex-snippet-del-row">删除</a>
              </td>
              <td>
                <input type="text"></td>
              <td>
                <input type="text"></td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">万</span>
                </span>
              </td>
              <td>
                <input type="text"></td>
              <td>
                <span class="input-append">
                  <input type="number" step="any">
                  <span class="add-on">%</span>
                </span>
              </td>
              <td>
                <input type="text"></td>
            </tr>
          </table>
        </div>
      </div>

      <h4>2、保证人的经营情况分析</h4>
      <h5>(一）企业在行业与产业链中的地位</h5>
      <h6>1、行业概况</h6>
      <textarea placeholder="此处键入保证人所在行业的基本情况"></textarea>
      <h6>2、保证人经营发展历史</h6>
      <textarea placeholder="此处键入保证人经营发展历史"></textarea>
      <h6>3、企业荣誉</h6>
      <textarea placeholder="此处按时间先后顺序介绍企业所获得的荣誉，也可一并介绍有股东、实质控制人的社会职务、荣誉。"></textarea>
      <h6>4、企业所经营产品特点及竞争优势</h6>
      <textarea placeholder="此处键入保证人所经营产品特点及竞争优势包括但不限于产品的物理属性、价格波动情况、市场供求状况及销售淡旺季竞争优势等情况。所在行业简介"></textarea>
      <h6>5、企业的市场拓展能力</h6>
      <textarea placeholder="此处键入保证人市场拓展能力，包括但不限于保证人的购销渠道、政策、管理方式、发展规划等等。"></textarea>
      <h6>6、企业在产业链中的地位</h6>
      <textarea placeholder="此处键入保证人产业链中的地位：市场拓展能力，（上游、中游还是下游）；企业在产业链中的话语权（定价权）等。"></textarea>
      <h6>7、企业在行业中的地位</h6>
      <textarea placeholder="此处键入保证人行业中的地位：包括不限于：企业销售额在行业中的占比；市场排名（可以是全国，也可以是区域）"></textarea>
      <h6>8、主要竞争对手、各自的市场份额或排名及市场竞争能力</h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>企业主要竞争对手</td>
          <td>企业主要产品名称</td>
          <td>使用商标</td>
          <td>占当地市场份额</td>
          <td>占行业（全 国）市场份额</td>
          <td>优势</td>
          <td>劣势</td>
        </tr>
        <tr style="display: none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
        </tr>
      </table>

      <h6>9、与上游客户合作及结算关系(TODO:)</h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>前五名上游企业名称</td>
          <td>主要合作产品</td>
          <td>合作年限</td>
          <td>近一年交易额</td>
          <td>近一年应付帐款</td>
          <td>平均帐期</td>
          <td>占总交易量比例</td>
          <td>结算方式</td>
        </tr>
        <tr style="display: none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text"></td>
        </tr>
      </table>

      <h6>10、与下游客户合作及结算关系(TODO:)</h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>前五名下游企业名称</td>
          <td>主要合作产品</td>
          <td>合作年限</td>
          <td>近一年交易额</td>
          <td>近一年应收帐款</td>
          <td>平均帐期</td>
          <td>占总销售量比例</td>
          <td>结算方式</td>
        </tr>
        <tr style="display: none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text"></td>
        </tr>
      </table>

      <h5>(二)银行信用情况</h5>
      <h5>2、保证人与其他银行的合作情况</h5>
      <h6>（1）保证人与其他银行合作情况如下：</h6>
      <h6>
        <input type="text" class="ex-datepicker" data-date-format="yyyy " data-date-viewmode="years" data-date-minviewmode="years"/>
        年保证人其他银行授信情况：
      </h6>
      <table class="table table-bordered table-striped">
        <tr>
          <td rowspan="2">
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td rowspan="2">银行名称</td>
          <td rowspan="2">授信额度</td>
          <td rowspan="2">中长期贷款余额</td>
          <td rowspan="2">短期贷款余额</td>
          <td colspan="2">银行承兑汇票</td>
          <td>合计</td>
          <td rowspan="2">担保条件</td>
        </tr>
        <tr>
          <td>余额</td>
          <td>保证金</td>
          <td>敞口余额</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
        </tr>
        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h5>
        <input type="text" class="ex-datepicker" data-date-format="yyyy " data-date-viewmode="years" data-date-minviewmode="years"/>
        年保证人其他银行授信情况：
      </h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td rowspan="2">
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td rowspan="2">银行名称</td>
          <td rowspan="2">授信额度</td>
          <td rowspan="2">中长期贷款余额</td>
          <td rowspan="2">短期贷款余额</td>
          <td colspan="2">银行承兑汇票</td>
          <td>合计</td>
          <td rowspan="2">担保条件</td>
        </tr>
        <tr>
          <td>余额</td>
          <td>保证金</td>
          <td>敞口余额</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">%</span>
            </span>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
        </tr>
        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h5>保证人其他银行授信情况增减幅度：</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td rowspan="2">银行名称</td>
          <td rowspan="2">授信额度</td>
          <td rowspan="2">中长期贷款余额</td>
          <td rowspan="2">短期贷款余额</td>
          <td colspan="2">银行承兑汇票</td>
          <td >合计</td>
          <td rowspan="2">担保条件</td>
        </tr>
        <tr>
          <td>余额</td>
          <td>保证金</td>
          <td>敞口余额</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h6>（2）我行的地位与竞争能力分析</h6>
      <textarea placeholder="1.了解各银行授信条件，分析我行的地位与竞争力；2.如有特殊的业务品种可详细说明"></textarea>
      <h6>（3）分析授信额度、品种增减变化原因</h6>
      <textarea placeholder="分析保证人“银行授信情况增减幅度表”中变化较大的数据，分析说明银行融资额度增或减原因，并说明以往授信的用途是否合理。"></textarea>
      <h6>（4）保证人垫款、欠息等非正常银行业务情况说明</h6>
      <h5>
        保证人是/否曾经发生垫款、欠息等非正常银行业务情况:
        <select class="ex-snippet-exist">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </h5>
      <div style="display:none;">
        <textarea placeholder="需对垫款、欠息等非正常银行业务情况进行说明"></textarea>
      </div>
      <h4>3、保证人为其他企业提供的担保情况</h4>
      <h5>
        保证人是/否为其他企业提供担保:
        <select class="ex-snippet-exist">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </h5>
      <div style="display:none;">
        <h5>保证人为其他企业担保具体明细如下：</h5>
        <table class="table table-bordered table-striped">
          <tr>
            <td>
              <a class="ex-snippet-add-row">增加</a>
            </td>
            <td>保证合同编号</td>
            <td>保证合同金额</td>
            <td>借款人</td>
            <td>业务品种</td>
            <td>余额</td>
            <td>敞口</td>
          </tr>
          <tr style="display:none;" class="ex-snippet">
            <td>
              <a class="ex-snippet-del-row">删除</a>
            </td>
            <td>
              <input type="text"></td>
            <td>
              <input type="text"></td>
            <td>
              <span class="input-append">
                <input type="number" step="any">
                <span class="add-on">万元</span>
              </span>
            </td>
            <td>
              <input type="text"></td>
            <td>
              <select>
                <option>银承</option>
                <option>贷款</option>
                <option>贸易融资</option>
              </select>
            </td>
            <td>
              <span class="input-append">
                <input type="number" step="any">
                <span class="add-on">万元</span>
              </span>
            </td>
            <td>
              <input type="text"></td>
          </tr>
          <tr>
            <td></td>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

      <h4>4、 保证人偿债能力分析</h4>
      <h5>（一）企业经营能力分析</h5>
      <h5>1、流动资产分析：</h5>
      <p>（1）货币资金（单位：万元）</p>
      <h5>当期货币资金明细</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>企业名称</td>
          <td>账户性质</td>
          <td>开户银行</td>
          <td>账号</td>
          <td>账户余额</td>
          <td>其中保证金或质押存款</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="text"/>
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <p>（2）应收票据（单位：万元）</p>
      <h5>当期应收票据明细</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td>应收票据</td>
          <td>金额</td>
          <td>说明</td>
        </tr>

        <tr>
          <td>银行承兑汇票</td>
          <td>
            <span class="input-append">
              <input type="number" step="any" />
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>

        <tr>
          <td>商业承兑汇票</td>
          <td>
            <span class="input-append">
              <input type="number" step="any" />
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>其他票据</td>
          <td>
            <span class="input-append">
              <input type="number" step="any" />
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>

        <tr>
          <td>其中：已质押票据</td>
          <td>
            <span class="input-append">
              <input type="number" step="any" />
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>

        <tr>
          <td>合计</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h5>其中：商业承兑汇票明细表（含已贴现未到期部分）</h5>
      <table class="table table-bordered table-striped">
        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>承兑人</td>
          <td>金额</td>
          <td>出票日</td>
          <td>到期日</td>
          <td>办公电话</td>
          <td>业务关系</td>
          <td>担保或前手</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text"></td>
          <td>
            <span class="input-append">
              <input type="number" step="any" />
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" />
          </td>
          <td>
            <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" />
          </td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
          <td>
            <input type="text"></td>
        </tr>

      </table>

      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <p>（3）应收账款（单位：万元）</p>
      <h5>当期应收账款明细</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>债务人名称</td>
          <td>办公电话</td>
          <td>年销售</td>
          <td>净资产</td>
          <td>欠款原因和关联关系</td>
          <td>欠款金额</td>
          <td>期限</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>

        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <p>（4）存货（单位：万元）</p>
      <h5>当期存货明细</h5>
      <h5>原材料表：</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>原材料名称、规格</td>
          <td>购买价</td>
          <td>近期价</td>
          <td>年采购数量</td>
          <td>库存数量</td>
          <td>存放地（仓库）</td>
          <td>是否抵押</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>小计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h5>半成品表：</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>半成品名称、规格</td>
          <td>成本价</td>
          <td>市场价</td>
          <td>年销售金额</td>
          <td>库存数量</td>
          <td>存放地（仓库）</td>
          <td>是否抵押</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>小计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h5>产成品表：</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>产成品名称、规格</td>
          <td>成本价</td>
          <td>市场价</td>
          <td>年销售金额</td>
          <td>库存数量</td>
          <td>存放地（仓库）</td>
          <td>主要销售对象及地区</td>
          <td>是否抵押</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="number" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <select>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>小计</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <table class="table table-bordered table-striped">
        <tr>
          <td>合计</td>
          <td>成本价</td>
          <td>市场价</td>
          <td>年销售金额</td>
          <td>库存数量</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>2、固定资产分析</h5>
      <h5>固定资产与无形资产</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>资产名称</td>
          <td>原始价值</td>
          <td>帐面价值</td>
          <td>权证名称及权证号码</td>
          <td>登记所有权人</td>
          <td>存抵、质押情况</td>
          <td>存放位置</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
      </table>

      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>3、长期投资分析</h5>
      <table class="table table-bordered table-striped">

        <tr>
          <td>
            <a class="ex-snippet-add-row">增加</a>
          </td>
          <td>长期投资类型</td>
          <td>投资项目名称</td>
          <td>项目总投资</td>
          <td>企业投资金额</td>
          <td>投资年限</td>
          <td>年收益</td>
        </tr>

        <tr style="display:none;" class="ex-snippet">
          <td>
            <a class="ex-snippet-del-row">删除</a>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
          <td>
            <input type="text" />
          </td>
          <td>
            <span class="input-append">
              <input type="number" step="any">
              <span class="add-on">万</span>
            </span>
          </td>
        </tr>
      </table>

      <textarea rows="4" placeholder="报告当期数值与前期数值增减幅度若超过10%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>（二） 短期偿债能力分析</h5>
      <h6>1、流动比率</h6>
      <textarea rows="4" placeholder="......"></textarea>

      <h6>2、速动比率</h6>
      <textarea rows="4" placeholder="......"></textarea>

      <h5>（三）长期偿债能力分析</h5>

      <h6>1、资产负债比</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h6>2、负债与股东收益比</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h6>3、已获利息倍数</h6>
      <textarea rows="4" placeholder="已获利息倍数应大于1，对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h6>4、债务本息偿付比</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>（四） 获利能力分析</h5>

      <h6>1、资产报酬率</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h6>2、销售利润率</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h6>3、成本费用利润率</h6>
      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>（五）现金流量分析</h5>

      <textarea rows="4" placeholder="分析现金流变动情况，若现金流量连续出现负数的，要求分析详细解释原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>

      <h5>（六） 总体财务评价</h5>

      <textarea rows="4" placeholder="对特别低于行业同水平考核指标的，需分析解释原因。（注：此点标准风险管理部待定）若企业因单一合同相关财务数据出现激增需在此说明原因。%（暂定数）或出现负数，需详细分析增减原因。"></textarea>
    </div>
  </div>

</div>
