<div class="ex-part" id="ex-part-assure-pledge" style="display:none;">
  <h3>五、授信担保情况</h3>
  <h4>(三)质押担保方式</h4>
  <h5>质押物情况如下(单位:万元):</h5>
  <table class="table table-bordered table-striped ex-auto-sum ex-snippet-set-pledges">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>物质名称</td>
      <td>种类</td>
      <td>权属人</td>
      <td>与申请人关系</td>
      <td>原始价值</td>
      <td>目前价值</td>
      <td>担保金额</td>
      <td>是否已在他行做质押</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="program.pledges.arr.name"/>
      </td>
      <td>
        <select field-name="program.pledges.arr.mtype_name" class="ex-snippet-pledge-type">
          <option>物业租赁应收账款</option>
          <option>供应链应收账款</option>
          <option>银行承兑汇票</option>
          <option>债券</option>
          <option>存单</option>
          <option>仓单</option>
          <option>提单</option>
          <option>商标权</option>
          <option>专利权</option>
          <option>股权</option>
          <option>其他</option>
        </select>
      </td>
      <td>
        <input type="text" field-name="program.pledges.arr.owner"/>
      </td>
      <td>
        <input type="text" field-name="program.pledges.arr.relation"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.origin_price"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.current_price"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.assure_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <select field-name="program.pledges.arr.is_other_bank_pledge">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="4">质押率</td>
      <td colspan="5"></td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td>合计</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
    </tr>

  </table>

  <div class="ex-snippet-pledge-rent ex-snippet-pledge" style="display:none;">
    <h5>物业租赁应收账款:</h5>
    <h5>出租物业简介</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>所有权证件号码</td>
        <td>地址</td>
        <td>是否已消防验收合格</td>
        <td>购买或建筑成本</td>
        <td>承租人</td>
        <td>出租物业用途</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="rent"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.number"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.address"/>
        </td>
        <td>
          <select field-name="program.pledges.arr.is_verify">
            <option value="true">是</option>
            <option value="false">否</option>
          </select>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.use"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td></td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <h5>(1) 应收账款来源的合法、合理性</h5>
    <textarea placeholder=" " name="program.analyze.rent"></textarea>
    <h5>(2) 承租方偿债能力分析</h5>
    <textarea placeholder=" " name="program.analyze.rent_repay"></textarea>
    <h5>(3) 租金价格的合理性</h5>
    <textarea placeholder=" " name="program.analyze.rent_price"></textarea>
    <h5>(4)操作方式与监管手段</h5>
    <textarea placeholder="详述物业租赁应收账款的操作方式与监管手段,包括操作流程、签订哪几方监管协议、如何监管资金等。" name="program.analyze.rent_operate"></textarea>
  </div>

  <div class="ex-snippet-pledge-contract ex-snippet-pledge" style="display:none;">
    <h5>供应链应收账款:</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>合同号</td>
        <td>债务人</td>
        <td>合同金额</td>
        <td>付款期限</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="contract"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.number"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.expire"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
    <h5>(1) 应收账款来源的合法、合理性</h5>
    <textarea placeholder="分析应收账款来源的合法、合理性" name="program.analyze.contract"></textarea>
    <h5>(2) 卖方偿债能力分析</h5>
    <textarea placeholder="分析卖方偿债能力分析" name="program.analyze.contract_repay"></textarea>
    <h5>(3) 租金价格的合理性</h5>
    <textarea placeholder="分析租金价格的合理性" name="program.analyze.contract_price"></textarea>
    <h5>(4)操作方式与监管手段</h5>
    <textarea placeholder="详述应收账款的操作方式与监管手段,包括操作流程、签订哪几方监管协议、如何监管资金等。" name="program.analyze.contract_operate"></textarea>
  </div>

  <div class="ex-snippet-pledge-bill ex-snippet-pledge" style="display:none;">
    <h5>银行承兑汇票</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>票号</td>
        <td>承兑银行</td>
        <td>票面金额</td>
        <td>付款期限</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="bill"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.number"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.expire"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
    <textarea placeholder="分析说明票据的真实性、承兑行实力、背书的连续性、银行承兑汇票的权属是否明确和质押意愿真实性。" name="program.analyze.bill"></textarea>
  </div>

  <div class="ex-snippet-pledge-bond ex-snippet-pledge" style="display:none;">
    <h5>债券、存单</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>债券发行人/存单开户行</td>
        <td>是否可办理过户手续</td>
        <td>面值</td>
        <td>到期日</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="bond"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <select field-name="program.pledges.arr.is_transfer">
            <option value="true">是</option>
            <option value="false">否</option>
          </select>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.expire"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
    <textarea placeholder="分析说明债券/存单的真实性、债券发行人实力及资信情况、债券/存单的权属是否明确和是否可办理过户手续,资金监管手段。" name="program.analyze.bond"></textarea>
  </div>

  <div class="ex-snippet-pledge-lading ex-snippet-pledge" style="display:none;">
    <h5>仓单/提单</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>发出单位</td>
        <td>面值</td>
        <td>有效期</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="lading"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.expire"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
    <h5>(1)真实性及有效性</h5>
    <textarea placeholder="分析说明仓单/提单的真实性,仓单/提单发出单位的监管能力、资信状况及赔付能力。" name="program.analyze.lading"></textarea>
    <h5>(2)操作方式与监管手段</h5>
    <textarea placeholder="详述仓单/提单质押的操作方式与监管手段,包括操作流程、签订哪几方监管协议、如何监管货物进出等。" name="program.analyze.lading_operate"></textarea>
  </div>

  <div class="ex-snippet-pledge-brand ex-snippet-pledge" style="display:none;">
    <h5>商标权、专利权</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>专利权/商标权证书号码</td>
        <td>登记单位</td>
        <td>有效期</td>
        <td>剩余有效期</td>
        <td>评估价值</td>
        <td>评估机构</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pledges.arr.mtype" value="brand"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.number"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.response"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.expire"/>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.over_expire"/>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" field-name="program.pledges.arr.evaluate_company"/>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td style="display:none;"></td>
        <td>合计</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
      </tr>
    </table>
    <textarea placeholder="分析说明商标权/专利权的市场价值、质押的可行性与操作性,市场变现能力等。" name="program.analyze.brand"></textarea>
  </div>

  <div class="ex-snippet-pledge-stock ex-snippet-pledge" style="display:none;">
    <h5>股权</h5>
    <h5>
      股权对应公司是否为申请人:
      <!-- TODO: Check this. -->
      <!--<select>
      <option value="true">是</option>
      <option value="false">否</option>
    </select>
    -->
  </h5>
  <table class="table table-bordered table-striped ex-auto-sum">
    <tr>
      <td>是否上市公司</td>
      <td>股票代码</td>
      <td>当前市价</td>
      <td>市场价值</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td style="display:none;">
        <input type="text" field-name="program.pledges.arr.mtype" value="stock"/>
      </td>
      <td>
        <select field-name="program.pledges.arr.is_listed">
          <option value="true">是</option>
          <option value="false">否</option>
        </select>
      </td>
      <td>
        <input type="text" field-name="program.pledges.arr.number"/>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="program.pledges.arr.current_value"/>
          <span class="ex-auto-source" class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pledges.arr.value"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td style="display:none;"></td>
      <td>合计</td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>
  <textarea placeholder="分析说明股权对应公司经营状况、股权的变现能力、质押的可行性与操作性及质押担保的操作流程等。" name="program.analyze.stock"></textarea>
</div>
<div class="ex-snippet-pledge-other ex-snippet-pledge" style="display:none;">
  <h5>其他</h5>
  <textarea placeholder="分析说明此类质押物的市场价值、保管条件和难易程度,变现能力,监管手段和可操作性。" name="program.analyze.other_pledge"></textarea>
</div>
</div>
