<div class="ex-part" id="ex-part-assure-other" style="display:none;">
  <h3>五、授信担保情况</h3>
  <h4>(五)其他担保方式</h4>
  <textarea rows="5" placeholder="如果采用其他的担保方式的,请说明具体的操作办法和程序,分析该种担保方式的可操作性有多大,控制风险程度如何等。" name="program.analyze.other_assure"></textarea>
</div>
