<div class="ex-part" id="ex-part-assure-pawn" style="display:none;">
  <h3>五、授信担保情况</h3>
  <h4>(二)抵押担保方式</h4>
  <h5>抵押物情况如下(单位:万元):</h5>
  <table class="table table-bordered table-striped ex-auto-sum ex-snippet-set-pawns">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>抵押物名称</td>
      <td>种类</td>
      <td>权属人</td>
      <td>与申请人关系</td>
      <td>所有权证件号</td>
      <td>地址</td>
      <td>购买或建筑成本</td>
      <td>评估价值</td>
      <td>评估机构</td>
      <td>折旧率</td>
      <td>已使用年限</td>
      <td>可使用年限</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.name"/>
      </td>
      <td>
        <select field-name="program.pawns.arr.mtype_name" class="ex-snippet-pawn-type">
          <option>房产</option>
          <option>土地</option>
          <option>车辆</option>
          <option>在建工程</option>
          <option>设备</option>
        </select>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.owner"/>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.relation"/>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.cert_number"/>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.address"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pawns.arr.cost"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pawns.arr.value"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="program.pawns.arr.evaluate_company"/>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="program.pawns.arr.lost_rate"/>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <input type="number" field-name="program.pawns.arr.use_duration"/>
      </td>
      <td>
        <input type="number" field-name="program.pawns.arr.over_duration"/>
      </td>
    </tr>
    <tr>
      <td colspan="6">抵押率</td>
      <td colspan="7"></td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td>合计</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div class="ex-snippet-pawn-building ex-snippet-pawn" style="display:none;">
    <h5>如抵押物为房产、土地、在建工程则增加以下项目:</h5>
    <table class="table table-bordered table-striped">
      <tr>
        <td>抵押物名称</td>
        <td>是否权属人唯一住房</td>
        <td>出租率</td>
        <td>租金均价（每平方米）</td>
        <td>抵押物所在地区同类型物业的出租均价（每平方米）</td>
        <td>抵押物所在地区同类型物业的出售均价（每平方米）</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td style="display:none;">
          <input type="text" field-name="program.pawns.arr.mtype" value="building"/>
        </td>
        <td>
          <input type="text" field-name="program.pawns.arr.name"/>
        </td>
        <td>
          <select field-name="program.pawns.arr.is_only">
            <option value="true">是</option>
            <option value="false">否</option>
          </select>
        </td>
        <td>
          <span class="input-append">
            <input type="number" field-name="program.pawns.arr.rent_rate"/>
            <span class="add-on">%</span>
          </span>
        </td>
        <td>
          <span class="input-append">
            <input type="number" step="any" field-name="program.pawns.arr.average_rent_price"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <span class="input-append">
            <input type="number" step="any" field-name="program.pawns.arr.market_rent_price"/>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <span class="input-append">
            <input type="number" step="any" field-name="program.pawns.arr.market_sale_price"/>
            <span class="add-on">万</span>
          </span>
        </td>
      </tr>
    </table>
    <input style="display:none;" type="text" field-name="program.pawns.arr.mtype" value="other"/>
    <textarea placeholder="根据上表说明抵押物的变现能力及评估价格合理性" name="program.analyze.assure_pawn"></textarea>
  </div>

</div>
