<div class="ex-part" id="ex-part-assure-credit" style="display:none;">
  <h3>五、授信担保情况</h3>
  <h4>（四）信用担保方式</h4>
  <textarea rows="5" placeholder="分析说明信用担保是够符合我行信用授信的规定。" name="program.analyze.assure"></textarea>
</div>
