<!--法人客户授信业务申报书 -->
<div class="ex-part" id="ex-part-basic" style="display:none;">
  <h3>授信业务申报书</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <td>申请人名称</td>
      <td colspan="3">
        <input type="text" name="company.name"></td>
    </tr>
    <tr>
      <td>申请金额</td>
      <td colspan="3">
        <span class="input-append">
          <input type="number" step="any" name="apply_amount"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>申报种类</td>
      <td colspan="3">
	<select name="apply_type">
	  <option>流动资金贷款</option>
	  <option>银行承兑汇票</option>
	  <option>商业承兑汇票保贴</option>
	  <option>商业承兑汇票贴现</option>
	  <option>借款保函</option>
	  <option>透支保函</option>
	  <option>融资租赁保函</option>
	  <option>补偿贸易保函</option>
	  <option>付款保函</option>
	  <option>投标保函</option>
	  <option>履约保函</option>
	  <option>质量保证金保函</option>
	  <option>预付款保函</option>
	  <option>国际保理</option>
	  <option>打包贷款</option>
	  <option>福费廷</option>
	  <option>出口议付</option>
	  <option>出口商业发票融资</option>
	  <option>出口信用保险融资</option>
	  <option>信用证项下汇票贴现/应收款买入</option>
	  <option>信用证</option>
	  <option>出口押汇</option>
	  <option>进口押汇</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>申请期限</td>
      <td colspan="3">
        <input type="text" name="apply_expire"></td>
    </tr>
    <tr>
      <td>信用等级</td>
      <td>
        <input type="text" name="company.credit">
      </td>
      <td>担保方式</td>
      <td>
        <input type="text" name="program.assure_type"></td>
    </tr>
    <tr>
      <td>授信经营第一主责任人</td>
      <td colspan="3">
        <input type="text" name="main_manager"></td>
    </tr>
    <tr>
      <td>授信经营第二主责任人</td>
      <td colspan="3">
        <input type="text" name="secondary_manager"></td>
    </tr>
    <tr>
      <td>经营岗位责任人</td>
      <td colspan="3">
        <input type="text" name="operate_manager"></td>
    </tr>
    <tr>
      <td>申报单位负责人</td>
      <td colspan="3">
        <input type="text" name="apply_manager"></td>
    </tr>
  </table>
</div>
<!--end of法人客户授信业务申报书 -->
