<!-- 现金流 -->
<div class="ex-part" id="ex-part-cashflow" style="display:none;">
  <h3>现金流（单位：万元）</h3>
  <h4>
    报表列数：
    <select class="ex-snippet-set-finance">
      <option value="4">四列</option>
      <option value="5">五列</option>
    </select>
  </h4>
  <table class="table table-bordered table-striped">
    <tr style="display:none;">
      <td>
        <a class="ex-snippet-add-col">增加</a>
      </td>
      <td style="display:none;" class="ex-snippet">
        <a class="ex-snippet-del-col">删除</a>
      </td>
    </tr>
    <tr>
      <th>报告期</th>
      <td style="display:none;" class="ex-snippet">
        <input type="text" class="ex-datepicker ex-auto-source ex-auto-source-date" data-date-format="yyyy-mm" 
               data-date-viewmode="years" data-date-minviewmode="months"
               field-name="company.cash_flows.arr.report_time"/>
      </td>
    </tr>
    <tr>
      <td>报表类型</td>
      <td style="display:none;" class="ex-snippet">
        <select field-name="company.cash_flows.arr.report_type">
	  <option>月报</option>
	  <option>年报</option>
	</select>
      </td>
    </tr>
    <tr>
      <th>一、经营活动产生的现金流量:</th>
      <td style="display:none;" class="ex-snippet">
      </td>
    </tr>
    <tr>
      <td>销售商品、提供劳务收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.operate_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>收到的税费返还</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.tax_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>收到的其他与经营活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_operate_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营活动现金流入小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_operate_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>购买商品、接受劳务支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.operate_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>支付给职工以及为职工支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.staff_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>支付各项税费</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.tax_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>支付的其他与经营活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_operate_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营活动现金流出小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_operate_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营活动产生的现金流量净额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_operate_flow"/>
	  <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>二、投资活动产生的现金流量：</th>
      <td style="display:none;" class="ex-snippet"></td>
    </tr>
    <tr>
      <td>收回投资所收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cancel.invest_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>取得投资收益所收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.invest_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>处置固定资产、无形资产和其他长期资产而收到的现金净额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.asset_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>收到的其他与投资活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_invest_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>投资活动现金流入小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cancel.total_invest_inflow"/>
	  <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>购建固定资产、无形资产和其他长期资产支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.asset_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>投资所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.invest_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>债权性投资所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.bond_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>支付的其他与投资活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_invest_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>投资活动现金流出小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cancel.total_invest_outflow"/>
	  <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>投资活动产生的现金流量净额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cancel.total_invest_flow"/>
	  <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>三、筹资活动产生的现金流量:</th>
      <td style="display:none;" class="ex-snippet">
      </td>
    </tr>
    <tr>
      <td>吸收权益性投资所收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.right_invest_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>发行债券所收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.bond_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>借款所收到的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.debt_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>收到的其他与筹资活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_financing_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>筹资活动现金流入小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_financing_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>偿还债务所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.debt_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>发生筹资费用所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.financing_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>分配股利或利润所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.allocate_profit_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>偿付利息所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.interest_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>融资租赁所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.lease_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减少注册资本所支付的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cut_cash_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>支付的其他与筹资活动有关的现金</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_financing_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>筹资活动现金流出小计</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_financing_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>筹资活动产生的现金流量净额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_financing_flow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>四、汇率变动对现金的影响额</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.exchange_include"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>五、现金及现金等价物净增加额</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.increase_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>附注</th>
      <td style="display:none;" class="ex-snippet"></td>
    </tr>
    <tr>
      <th>1、不涉及现金收支的投资和筹资活动</th>
      <td style="display:none;" class="ex-snippet">
      </td>
    </tr>
    <tr>
      <td>债务转为资本</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.debt_capital"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>一年内到期的可转换公司债券</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.expire_bond"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>融资租赁固定资产</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.rent_asset"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>2、将净利润调节为经营活动现金流量</th>
      <td style="display:none;" class="ex-snippet"></td>
    </tr>
    <tr>
      <td>净利润</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.net_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>少数股东损益</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.holder_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>加：计提的资产减值准备</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.asset_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产折旧</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.fixed_asset_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>无形资产摊销</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.invisible_asset_amort"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>长期待摊费用摊销</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.long_amort"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>待摊费用减少(减：增加)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cut_amort"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预提费用增加(减：减少)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.increase_pre_debt"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>处置固定无形、无形资产和其他长期资产损失(减：收益)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_asset_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>固定资产报废损失</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.fixed_asset_scrap"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>财务费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.finance_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>投资损失(减：收益)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.invest_lost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>递延税款贷项(减：借项)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.defer_tax"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>存货的减少(减：增加)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cut_inventory"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营性应收项目的减少(减：增加)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cut_operate_inflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营性应付项目的增加(减：减少)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.increase_operate_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>增值税增加净额(减：减少)</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.increase_tax"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>其他</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_profit_outflow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营活动产生之现金流量净额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.net_operate_flow"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>3、现金及现金等价物净增加情况</th>
      <td style="display:none;" class="ex-snippet">
      </td>
    </tr>
    <tr>
      <td>货币资金的期末余额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cash_end"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：货币资金的期初余额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.cash_start"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>加：现金等价物的期末余额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_cash_end"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>现金等价物的期初余额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.other_cash_start"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>现金及现金等价物净增加额</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.cash_flows.arr.total_cash_flow"/>
	  <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>
</div>
<!-- end of 现金流 -->
