<!-- 一、申请人基本情况 （三） 关联企业情况-->
<div class="ex-part" id="ex-part-company-relate" style="display: none;">
  <h3>一、申请人基本情况</h3>
  <h4>（三） 关联企业情况</h4>

  <h4>是否有关联企业:
    <select class="ex-snippet-exist" data-target="company.relate_companys">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </h4>
  <div style="display:none;" class="ex-snippet">
    <h4>关联公司情况</h4>
    <h5><a class="ex-snippet-add">增加关联企业</a></h5>
    <div style="display:none;" class="ex-snippet">
      <table class="table table-bordered table-striped">
	<tr>
	  <td><a class="ex-snippet-del">删除</a>企业名称</td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.name">
	  </td>
	  <td>是否年审合格</td>
	  <td>
	    <select field-name="company.relate_companys.arr.is_verify">
	      <option value="true">是</option>
	      <option value="false">否</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>注册资本</td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.register_capital">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	  <td>出资金额</td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.amount">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	</tr>
	<tr>
	  <td>出资方式</td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.mtype"/>
	  </td>
	  <td>是否由他人代持股</td>
	  <td>
	    <select field-name="company.relate_companys.arr.is_other_holding">
	      <option value="true">是</option>
	      <option value="false">否</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>代持股人姓名</td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.holder"/>
	  </td>
	  <td>代持股人与实际控制人关系</td>
	  <td>
	    <select field-name="company.relate_companys.arr.holder_controller_relation">
	      <option>父母</option>
	      <option>兄弟</option>
	      <option>姐妹</option>
	      <option>子女</option>
	      <option>配偶</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>股权比例</td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.rate">
	      <span class="add-on">%</span>
	    </span>
	  </td>
	  <td>主营业务</td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.main_business"/>
	  </td>
	</tr>
	<tr>
	  <td>备注</td>
	  <td>
      	    <input type="text" field-name="company.relate_companys.arr.remark"/>
	  </td>
	  <td>是否有经营</td>
	  <td>
	    <select field-name="company.relate_companys.arr.is_operate">
	      <option value="true">是</option>
	      <option value="false">否</option>
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>
	    时间
	  </td>
	  <td>
	    <input type="text" class="ex-datepicker" data-date-format="yyyy " 
	    data-date-viewmode="years" data-date-minviewmode="years"
	    field-name="company.relate_companys.arr.time">
	  </td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td>
	    年度流动资产
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.current_asset">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	  <td>
	    年度销售收入
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.sale_income">
	      <span class="add-on">万</span>
	    </span>

	  </td>
	</tr>
	<tr>
	  <td>
	    年度流动负债
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.current_debt">
	      <span class="add-on">万</span>
	    </span>

	  </td>
	  <td>
	    年度净利润
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.profit">
	      <span class="add-on">万</span>
	    </span>

	  </td>
	</tr>
	<tr>
	  <td>
	    年度总资产
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.total_asset">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	  <td>
	    年度总负债
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.total_debt">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	</tr>
      </table>
      <table class="table table-bordered table-striped">
	<tr>
	  <td>
	    <a class="ex-snippet-add-row">增加</a>
	  </td>
	  <td>股东名称</td>
	  <td>出资金额</td>
	  <td>出资方式</td>
	  <td>股权比例</td>
	  <td>主营业务</td>
	</tr>
	<tr style="display: none;" class="ex-snippet">
	  <td>
	    <a class="ex-snippet-del-row">删除</a>
	  </td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.holders.arr.name">
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.holders.arr.amount">
	      <span class="add-on">万</span>
	    </span>
	  </td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.holders.arr.mtype">
	  </td>
	  <td>
	    <span class="input-append">
	      <input type="number" step="any" field-name="company.relate_companys.arr.holders.arr.rate">
	      <span class="add-on">%</span>
	    </span>
	  </td>
	  <td>
	    <input type="text" field-name="company.relate_companys.arr.holders.arr.main_business"></td>
	</tr>
      </table>
    </div>
  </div>

</div>
<!-- 一、申请人基本情况 （三） 关联企业情况-->
