<!-- 一、申请人基本情况 （二） 申请人股东、实质控制人情况-->
<div class="ex-part" id="ex-part-company-holder" style="display:none;">
    <h3>一、申请人基本情况</h3>
    <h4>（二） 申请人股东、实质控制人情况</h4>
    <h4>1、申请人股权构成：</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <a class="ex-snippet-add-row">增加</a>
            </td>
            <td>股东名称</td>
            <td>营业执照号码（身份证号）</td>
            <td>出资金额</td>
            <td>出资方式</td>
            <td>股权比例</td>
            <td>主营业务</td>
            <td>办公电话</td>
        </tr>
        <tr style="display:none;" class="ex-snippet">
            <td>
                <a class="ex-snippet-del-row">删除</a>
            </td>
            <td>
                <input type="text" field-name="company.holders.arr.name"/>
            </td>
            <td>
                <input type="text" field-name="company.holders.arr.cert_number"/>
            </td>
            <td>
                <span class="input-append">
                    <input type="number" step="any" field-name="company.holders.arr.amount">
                    <span class="add-on">万</span>
                </span>
            </td>
            <td>
                <input type="text" field-name="company.holders.arr.mtype"/>
            </td>
            <td>
                <span class="input-append">
                    <input type="number" field-name="company.holders.arr.rate"/>
                    <span class="add-on">%</span>
                </span>
            </td>
            <td>
                <input type="text" field-name="company.holders.arr.main_business"/>
            </td>
            <td>
                <input type="text" field-name="company.holders.arr.phone"/>
            </td>
        </tr>
    </table>

    <h4>2、企业核心经营管理人员介绍（包括董事长、总经理、财务负责人、实质投资人等）</h4>

    <div>
      <h5><a class="ex-snippet-add">增加管理人员介绍</a></h5>
      <div style="display:none;" class="ex-snippet">
	<table class="table table-bordered table-striped">
	  <tr>
	    <td><a class="ex-snippet-del">删除</a>管理人员名称</td>
	    <td>
              <input type="text" field-name="company.managers.arr.name"/>
	    </td>
	    <td>职位</td>
	    <td>
              <input type="text" field-name="company.managers.arr.position"/>
	    </td>
	    <td>年龄</td>
	    <td>
              <input type="number" field-name="company.managers.arr.age"/>
	    </td>
	  </tr>
	  <tr>
	    <td>学历</td>
	    <td>
              <input type="text" field-name="company.managers.arr.education"/>
	    </td>
	    <td>技术职称</td>
	    <td>
              <input type="text" field-name="company.managers.arr.title"/>
	    </td>
	    <td>从事行业年限</td>
	    <td>
              <input type="number" field-name="company.managers.arr.expire"/>
	    </td>
	  </tr>
	</table>
	<table class="table table-bordered table-striped">
	  <tr><th><a class="ex-snippet-add-row">增加履历</a></th></tr>
	  <tr style="display: none;" class="ex-snippet">
	    <td>
	      <a class="ex-snippet-del-row">删除</a>
	      期限
	    </td>
	    <td>
	      <input type="text" field-name="company.managers.arr.resumes.arr.start" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"/>
	    </td>
	    <td>至</td>
	    <td>
	      <input type="text" field-name="company.managers.arr.resumes.arr.end" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"/>
	    </td>
	  </tr>
	  <tr style="display: none;" class="ex-snippet">
	    <td>工作简介</td>
	    <td colspan="3"><textarea  field-name="company.managers.arr.resumes.arr.introduction"/></td>
	  </tr>
	</table>
      </div>
    </div>

    <h4>3、企业员工构成情况</h4>

    <h5>企业员工结构表：</h5>
    <table class="table table-bordered table-striped">
        <tr>
            <td></td>
            <td>总  数</td>
            <td colspan="4">其中</td>
        </tr>
        <tr>
            <td rowspan="2">员工数量</td>
            <td rowspan="4">
                <input type="number" name="company.staff_structure.total"/>
            </td>
            <td>生产人员</td>
            <td>技术人员</td>
            <td>销售人员</td>
            <td>管理人员</td>
        </tr>
        <tr>
            <td>
                <input type="number" name="company.staff_structure.product"/>
            </td>
            <td>
                <input type="number" name="company.staff_structure.technology"/>
            </td>
            <td>
                <input type="number" name="company.staff_structure.sale"/>
            </td>
            <td>
                <input type="number" name="company.staff_structure.manager"/>
            </td>
        </tr>
	<tr>
          <td rowspan="2">学历情况</td>
          <td>硕士及以上</td>
          <td>本科</td>
          <td>大专</td>
          <td>中专及以下</td>
	</tr>
	<tr>
          <td>
            <input type="number" name="company.staff_structure.master"/>
          </td>
          <td>
            <input type="number" name="company.staff_structure.university"/>
          </td>
          <td>
            <input type="number" name="company.staff_structure.college"/>
          </td>
          <td>
            <input type="number" name="company.staff_structure.vocation"/>
          </td>
	</tr>
    </table>

    <h4>4、股东或实质控制人简介</h4>
    <textarea rows="4" name="company.actual_controller_introduction"></textarea>
</div>
<!-- end of 一、申请人基本情况 （二） 申请人股东、实质控制人情况-->
