<!-- 一、申请人基本情况 （一）申请人简介-->
<div class="ex-part" id="ex-part-company-intro" style="display:none;">
  <h3>一、申请人基本情况</h3>
  <h4>（一）申请人简介</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>项目</td>
      <td>选项</td>
    </tr>
    <tr>
      <td>客户名称</td>
      <td></td>
    </tr>
    <tr>
      <td>法人代表</td>
      <td>
        <input type="text" name="company.legal_represent"/>
      </td>
    </tr>
    <tr>
      <td>实质控制人</td>
      <td>
        <input type="text" name="company.actual_controller"/>
      </td>
    </tr>
    <tr>
      <td>成立时间</td>
      <td>
        <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" name="company.establish_time"/>
      </td>
    </tr>
    <tr>
      <td>注册资本</td>
      <td>
        <span class="input-append input-prepend">
          <select style="width: 20%;" name="company.register_cash_type">
            <option>人民币</option>
            <option>美元</option>
            <option>澳元</option>
            <option>日元</option>
          </select>
          <input type="number" step="any" style="width: 62%;" name="company.register_cash"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>实收资本</td>
      <td>
        <span class="input-append input-prepend">
          <select style="width: 20%;" name="company.actual_cash_type">
            <option>人民币</option>
            <option>美元</option>
            <option>澳元</option>
            <option>日元</option>
          </select>
          <input type="number" step="any" style="width: 62%;" name="company.actual_cash">
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营范围</td>
      <td>
        <input type="text" name="company.operate_range"/>
      </td>
    </tr>
    <tr>
      <td>营业执照有效期限</td>
      <td>
        <input type="text" name="company.operate_cert_expire"/>
      </td>
    </tr>
    <tr>
      <td>组织机构代码证有效期限</td>
      <td>
        <input type="text" name="company.organ_cert_expire"/>
      </td>
    </tr>
    <tr>
      <td>营业执行、组织机构代码证是否年审合格</td>
      <td>
	<select name="company.is_cert_verify">
	  <option value="true">是</option>
	  <option value="false">否</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>行业</td>
      <td>
        <input type="text" name="company.industry"/>
      </td>
    </tr>
    <tr>
      <td>公司类型</td>
      <td>
        <select name="company.mtype">
          <option>有限责任公司</option>
          <option>股份有限公司</option>
          <option>非公司企业法人</option>
          <option>个人独资企业</option>
          <option>合伙企业</option>
          <option>中外合资企业</option>
          <option>中外合作企业</option>
          <option>外商独资企业</option>
          <option>外商独资股份有限公司</option>
          <option>外国（地区）企业常驻代表机构</option>
          <option>合资经营（港、澳、台资）</option>
          <option>合作经营（港、澳、台资）</option>
          <option>独资经营（港、澳、台资）</option>
          <option>个体户</option>
          <option>三来一补</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>企业类型</td>
      <td>
        <select name="company.size">
          <option>微型</option>
          <option>小型</option>
          <option>中型</option>
          <option>大型</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>客户类型</td>
      <td>
        <select name="company.client_type">
          <option>普通客户</option>
          <option>内部关联人客户</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>资金来源</td>
      <td>
        <input type="text" name="company.cash_source"/>
      </td>
    </tr>
    <tr>
      <td>经营场所地址</td>
      <td>
        <input type="text" name="company.operate_address"/>
      </td>
    </tr>
    <tr>
      <td>经营场所所有权</td>
      <td>
        <select name="company.operate_address_ownership">
          <option>自有</option>
          <option>租赁</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>经营场所面积</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.operate_address_area"/>
          <span class="add-on">平方米</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营场所市场价值</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="company.operate_address_value"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>经营场所是否抵押</td>
      <td>
	<select name="company.is_operate_address_pledge">
	  <option value="true">是</option>
	  <option value="false">否</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>经营场所所属土地性质</td>
      <td>
        <select name="company.operate_address_type">
          <option>国有土地</option>
          <option>集体土地</option>
          <option>划拔土地</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>股东数量</td>
      <td>
        <input type="number" name="company.holder_count"/>
      </td>
    </tr>
    <tr>
      <td>是否有关联企业</td>
      <td>
      </td>
    </tr>
    <tr>
      <td>在职员工人数</td>
      <td>
        <input type="number" name="company.staff_count"/>
      </td>
    </tr>
  </table>
</div>
<!-- end of 一、申请人基本情况 （一）申请人简介-->
