<!-- 三、申请人的经营情况分析 -->
<div class="ex-part" id="ex-part-company-position" style="display: none;">
  <h3>三、申请人的经营情况分析</h3>
  <h4>(一）企业在行业与产业链中的地位</h4>
  <h5>1、行业概况</h5>
  <textarea placeholder="此处键入申请人所在行业的基本情况" name="company.analyze.industry"></textarea>
  <h5>2、申请人经营发展历史</h5>
  <textarea placeholder="此处键入申请人经营发展历史" name="company.analyze.history"></textarea>
  <h5>3、企业荣誉</h5>
  <textarea placeholder="此处按时间先后顺序介绍企业所获得的荣誉，也可一并介绍有股东、实质控制人的社会职务、荣誉。" name="company.analyze.honor"></textarea>
  <h5>4、企业所经营产品特点及竞争优势</h5>
  <textarea placeholder="此处键入申请人所经营产品特点及竞争优势包括但不限于产品的物理属性、价格波动情况、市场供求状况及销售淡旺季竞争优势等情况。所在行业简介" name="company.analyze.advantage"></textarea>
  <h5>5、企业的市场拓展能力</h5>
  <textarea placeholder="此处键入申请人市场拓展能力，包括但不限于申请人的购销渠道、政策、管理方式、发展规划等等。" name="company.analyze.market_expand"></textarea>
  <h5>6、企业在产业链中的地位</h5>
  <textarea placeholder="此处键入申请人产业链中的地位：市场拓展能力，（上游、中游还是下游）；企业在产业链中的话语权（定价权）等。" name="company.analyze.industry_chain_position"></textarea>
  <h5>7、企业在行业中的地位</h5>
  <textarea placeholder="此处键入申请人行业中的地位：包括不限于：企业销售额在行业中的占比；市场排名（可以是全国，也可以是区域）" name="company.analyze.industry_position"></textarea>
  <h5>8、主要竞争对手、各自的市场份额或排名及市场竞争能力</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>企业主要竞争对手</td>
      <td>企业主要产品名称</td>
      <td>使用商标</td>
      <td>占当地市场份额</td>
      <td>占行业（全国）市场份额</td>
      <td>优势</td>
      <td>劣势</td>
    </tr>
    <tr style="display: none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.competitors.arr.name"></td>
      <td>
        <input type="text" field-name="company.competitors.arr.product"></td>
      <td>
        <input type="text" field-name="company.competitors.arr.brand"></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.competitors.arr.local_rate">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.competitors.arr.industry_rate">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.competitors.arr.advantage"></td>
      <td>
        <input type="text" field-name="company.competitors.arr.disadvantage"></td>
    </tr>
  </table>

  <h5>9、与上游客户合作及结算关系</h5>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td>前五名上游企业名称</td>
      <td>主要合作产品</td>
      <td>合作年限</td>
      <td>近一年交易额</td>
      <td>本期应付帐款</td>
      <td>平均帐期</td>
      <td>占总交易量比例</td>
      <td>结算方式</td>
    </tr>
    <tr style="display: none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td style="display:none;">
        <input type="text" field-name="company.partners.arr.mtype" value="up"></td>
      <td>
        <input type="text" field-name="company.partners.arr.name"></td>
      <td>
        <input type="text" field-name="company.partners.arr.product"></td>
      <td>
        <input type="number" field-name="company.partners.arr.expire"></td>
      <td>
        <span class="input-append">
          <input type="number" step="any" field-name="company.partners.arr.trade_amount">
          <span class="add-on">万</span>
        </span>
      </td>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.payable">
    <span class="add-on">万</span>
  </span>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.average_expire">
    <span class="add-on">万</span>
  </span>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.total_rate">
    <span class="add-on">%</span>
  </span>
</td>
<td>
  <input type="text" field-name="company.partners.arr.settle_type"></td>
</tr>
</table>

<h5>10、与下游客户合作及结算关系</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td>
      <a class="ex-snippet-add-row">增加</a>
    </td>
    <td>前五名下游企业名称</td>
    <td>主要合作产品</td>
    <td>合作年限</td>
    <td>近一年交易额</td>
    <td>本期应收帐款</td>
    <td>平均帐期</td>
    <td>占总销售量比例</td>
    <td>结算方式</td>
  </tr>
  <tr style="display: none;" class="ex-snippet">
    <td>
      <a class="ex-snippet-del-row">删除</a>
    </td>
    <td style="display:none;">
      <input type="text" field-name="company.partners.arr.mtype" value="down"></td>
    <td>
      <input type="text" field-name="company.partners.arr.name"></td>
    <td>
      <input type="text" field-name="company.partners.arr.product"></td>
    <td>
      <input type="number" field-name="company.partners.arr.expire"></td>
    <td>
      <span class="input-append">
        <input type="number" step="any" field-name="company.partners.arr.trade_amount">
        <span class="add-on">万</span>
      </span>
    </td>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.payable">
    <span class="add-on">万</span>
  </span>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.average_expire">
    <span class="add-on">万</span>
  </span>
</td>
<td>
  <span class="input-append">
    <input type="number" step="any" field-name="company.partners.arr.total_rate">
    <span class="add-on">%</span>
  </span>
</td>
<td>
  <input type="text" field-name="company.partners.arr.settle_type"></td>
</tr>
</table>

</div>
<!-- 三、申请人的经营情况分析-->
