<div class="ex-part" id="ex-part-company-credit" style="display:none;">
  <h3>三、申请人的经营情况分析</h3>
  <h4>（二）银行信用情况</h4>

  <h4>2、申请人与其他银行的合作情况</h4>
  <h5>（1）申请人与其他银行合作情况如下：</h5>
  <h5>
    <input type="text" class="ex-datepicker" data-equation="company.asset_debts.3.report_time" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months" disabled>申请人其他银行授信情况：</h5>
  <table class="table table-bordered table-striped ex-auto-sum">
    <tr>
      <td rowspan="2">
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td rowspan="2">银行名称</td>
      <td rowspan="2">授信额度</td>
      <td rowspan="2">中长期贷款余额</td>
      <td rowspan="2">短期贷款余额</td>
      <td colspan="2">银行承兑汇票</td>
      <td>合计</td>
      <td rowspan="2">担保条件</td>
    </tr>
    <tr>
      <td>余额</td>
      <td>保证金</td>
      <td>敞口余额</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.bank_credits.arr.name"></td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_credits.arr.amount">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_credits.arr.long_over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_credits.arr.short_over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_credits.arr.over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.bank_credits.arr.deposit">
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" field-name="company.bank_credits.arr.expose">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.bank_credits.arr.assure"></td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td></td>
      <td>合计</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
    </tr>
  </table>
  <h5>
    截止
    <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" disabled>经查询人行征信系统，申请人其他银行授信情况：</h5>
  <table class="table table-bordered table-striped ex-auto-sum">
    <tr>
      <td rowspan="2">
        <a class="ex-snippet-add-row">增加</a>
      </td>
      <td rowspan="2">银行名称</td>
      <td rowspan="2">授信额度</td>
      <td rowspan="2">中长期贷款余额</td>
      <td rowspan="2">短期贷款余额</td>
      <td colspan="2">银行承兑汇票</td>
      <td>合计</td>
      <td rowspan="2">担保条件</td>
    </tr>
    <tr>
      <td>余额</td>
      <td>保证金</td>
      <td>敞口余额</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
        <a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
        <input type="text" field-name="company.total_bank_credits.arr.name"></td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.amount">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.long_over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.short_over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.over">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.deposit">
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input class="ex-auto-source" type="number" step="any" field-name="company.total_bank_credits.arr.expose">
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="text" field-name="company.total_bank_credits.arr.assure"></td>
    </tr>
    <tr class="ex-auto-result-sum">
      <td></td>
      <td>合计</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
    </tr>
  </table>
  <h5>（2）分析授信额度、品种增减变化原因</h5>
  <textarea placeholder="分析申请人“银行授信情况增减幅度表”中变化较大的数据，分析说明银行融资额度增或减原因，并说明以往授信的用途是否合理。" name="company.analyze.program_change"></textarea>
  <h5>（3）我行的地位与竞争能力分析</h5>
  <textarea placeholder="分析申请人,了解各银行授信条件,分析我行的地位与竞争力;如有特殊的业务品种可详细说明" name="company.analyze.our_bank_competitive"></textarea>
  <h5>（4）申请人垫款、欠息等非正常银行业务情况说明</h5>
  <h5>申请人是/否曾经发生垫款、欠息等非正常银行业务情况:
    <select class="ex-snippet-exist" data-target="company.analyze.abnormal_detail">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </h5>
  <div style="display:none;">
    <textarea placeholder="需对垫款、欠息等非正常银行业务情况进行说明" name="company.analyze.abnormal_detail"></textarea>
  </div>
  <h4>3、申请人为其他企业提供的担保情况</h4>
  <h5>申请人是/否为其他企业提供担保:
    <select class="ex-snippet-exist" data-target="company.assured_objects">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </h5>
  <div style="display:none;">
    <h5>申请人为其他企业担保具体明细如下：</h5>
    <table class="table table-bordered table-striped ex-auto-sum">
      <tr>
        <td>
          <a class="ex-snippet-add-row">增加</a>
        </td>
        <td>保证合同编号</td>
        <td>保证合同金额</td>
        <td>借款人</td>
        <td>业务品种</td>
        <td>余额</td>
        <td>敞口</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
        <td>
          <a class="ex-snippet-del-row">删除</a>
        </td>
        <td>
          <input type="text" field-name="company.assured_objects.arr.number"></td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="company.assured_objects.arr.amount">
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <input type="text" step="any" field-name="company.assured_objects.arr.borrower"></td>
        <td>
          <select field-name="company.assured_objects.arr.mtype">
            <option>银承</option>
            <option>贷款</option>
            <option>贸易融资</option>
          </select>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="company.assured_objects.arr.over">
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <span class="input-append">
            <input class="ex-auto-source" type="number" step="any" field-name="company.assured_objects.arr.expose">
            <span class="add-on">万</span>
          </span>
        </td>
      </tr>
      <tr class="ex-auto-result-sum">
        <td></td>
        <td>合计</td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td></td>
        <td></td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
        <td>
          <span class="input-append">
            <input type="number" step="any" disabled>
            <span class="add-on">万</span>
          </span>
        </td>
      </tr>
    </table>
    <textarea placeholder="说明申请人与被担保企业关系，被担保业务五级分类情况等" name="company.analyze.assured_object_datail"></textarea>
  </div>
</div>
