<div class="ex-part" id="ex-part-company-contract" style="display:none;">
  <h3>三、申请人的经营情况分析</h3>
  <h4>（三）申请人提供的资料显示：</h4>
  <table class="table table-bordered table-striped"> 
    <tr>
      <td rowspan="2">期初日期</td>
      <td rowspan="2">期末日期</td>
      <td colspan="2" rowspan="1">采购合同</td>
      <td colspan="2" rowspan="1">销售合同</td>
    </tr>
    <tr>
      <td>份数</td>
      <td>金额合计（万元） </td>
      <td>份数</td>
      <td>金额合计（万元） </td>
    </tr>
    <tr>
      <td>
	<input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months" name="company.contract_total.start">
      </td>
      <td>
	<input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months" name="company.contract_total.end">
      </td>
      <td><input type="number" name="company.contract_total.outcome_count" /></td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" name="company.contract_total.outcome" />
	  <span class="add-on">万</span>
	</span>
      </td>
      <td><input type="number" name="company.contract_total.income_count" /></td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" name="company.contract_total.income" />
	  <span class="add-on">万</span>
	</span>
      </td>		
    </tr>
  </table>
</div>
