﻿<!-- 十、结论-->
<div class="ex-part" id="ex-part-conclusion" style="display:none;">
  <h3>十、结论</h3>
  <h4>综上，鉴于:</h4>
  <textarea rows="4" placeholder="1、申请人情况总结。2、申请人经营情况。3、担保方式及其覆盖风险能力总结。4、本笔授信业务贸易背景真实性及资金需求合理性总结。5、本笔授信给我行效益总结。6、其他情况补充总结" name="program.analyze.summary"></textarea>
  <h4 class="mt15">拟同意向XXX提供综合授信XXXX万元,明细如下表:</h4>
</div>
<!-- end of 十、结论-->
