﻿<!-- 六、申请人与各家银行合作情况-->
<div class="ex-part" id="ex-part-cooperate" style="display:none;">
  <h3>六、申请人与各家银行合作情况</h3>
  <h4>（一）申请人在其他银行的结算情况如下表:</h4>
  <table class="table table-bordered table-striped ex-auto-sum"> 
    <tr>
      <td rowspan="3"><a class="ex-snippet-add-row">增加</a></td>
      <td rowspan="3">帐号</td>
      <td rowspan="3">开户行</td>
      <td rowspan="1">
	<input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months" name="company.contract_total.bank_settles_start">
      </td>
      <td rowspan="1">至</td>
      <td>
	<input type="text" class="ex-datepicker" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months" name="company.contract_total.bank_settles_end">
      </td>
      <td rowspan="1">在银行的结算情况</td>
    </tr>
    <tr>
      <td colspan="2" rowspan="1">借方累计发生</td>
      <td colspan="2" rowspan="1">贷方累计发生</td>
    </tr>
    <tr>
      <td>笔数</td>
      <td>金额</td>
      <td>笔数</td>
      <td>金额</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td><a class="ex-snippet-del-row">删除</a></td>
      <td><input type="text" field-name="company.bank_settles.arr.number"/></td>
      <td><input type="text" field-name="company.bank_settles.arr.name"/></td>
      <td><input class="ex-auto-source" type="number" field-name="company.bank_settles.arr.borrow_count"/></td>
      <td>
	<span class="input-append">
	  <input class="ex-auto-source" type="number" step="any" field-name="company.bank_settles.arr.borrow_amount"/>
	  <span class="add-on">万</span>
	</span>
      </td>
      <td><input class="ex-auto-source" type="number" field-name="company.bank_settles.arr.lend_count"/></td>
      <td>
	<span class="input-append">
	  <input class="ex-auto-source" type="number" step="any" field-name="company.bank_settles.arr.lend_amount"/>
	  <span class="add-on">万</span>
	</span>
      </td>		
    </tr>		
    <tr class="ex-auto-result-sum">
      <td></td>
      <td>合计</td>
      <td></td>
      <td>
        <input type="number" step="any" disabled>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
      <td>
        <input type="number" step="any" disabled>
      </td>
      <td>
         <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>		
  </table>
</div>
<!-- end of 六、申请人与各家银行合作情况-->
