﻿<!-- 九、本次授信收益分析-->
<div class="ex-part" id="ex-part-income" style="display:none;">
  <h3>九、本次授信收益分析</h3>
  <div style="display:none;">
    <select class="ex-snippet-exist" data-equation="program.varieties.arr.mtype/('流动资金贷款') !== -1" data-target="program.analyze.interest_income">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <h4>贷款利息收入:</h4>
    <textarea rows="4" placeholder="贷款人民币金额XX万元，贷款利率为基准利率上浮XX%，将为我行实现年利息收入XX万元。" name="program.analyze.interest_income"></textarea>
  </div>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-equation="program.varieties.arr.mtype/('商业承兑汇票贴现') !== -1" data-target="program.analyze.bill_income">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <h4>贴现利息收入:</h4>
    <textarea rows="4" placeholder="商票保证金比例为XX%，则一年借款人开立的商业汇票总额约为XX万请人融资成本和融资效益、申请人的融资地位（市场的定价），如商业汇票贴现利率为XX‰，将为我行带来商业汇票贴现收入XX万元。" name="program.analyze.bill_income"></textarea>
  </div>

  <div style="display:none;">
    <select class="ex-snippet-exist" data-equation="program.varieties.arr.mtype/('银行承兑汇票') !== -1 || program.varieties.arr.mtype/('信用证') !== -1" data-target="program.analyze.formality_income">
      <option value="false">否</option>
      <option value="true">是</option>
    </select>
  </div>
  <div style="display:none;">
    <h4>手续费收入:</h4>
    <textarea rows="4" placeholder="实现手续费收入约为XX万元。" name="program.analyze.formality_income"></textarea>
  </div>

  <h4>存款收益:</h4>
  <textarea rows="4" placeholder="派生保证金存款约为XX万元。" name="program.analyze.deposit_income"></textarea>
  <h4>其它收益:</h4>
  <textarea rows="4" placeholder="实现手续费收入约为XX万元。" name="program.analyze.other_income"></textarea>
  <h4>总体收益分析:</h4>
  <textarea rows="4" placeholder="利率/费率；相关业务收益：存款、国际结算、汇兑收益等。分析申请人融资成本和融资效益、申请人的融资地位（市场的定价），说明我行" name="program.analyze.income"></textarea>
</div>
<!-- end of 九、本次授信收益分析-->
