﻿<!-- 八、操作方案详述-->
<div class="ex-part" id="ex-part-operate" style="display:none;">
  <h3>八、操作方案详述</h3>
  <h5>本次授信操作方案为
    <select name="program.operation_type">
      <option>保兑仓</option>
      <option>厂商银</option>
      <option>中标工程</option>
    </select>
  </h5>
  <textarea rows="4" placeholder="TODO:"  name="program.analyze.operation_detail"></textarea>
</div>
<!-- end of 八、操作方案详述-->
