<!-- 利润表 -->
<div class="ex-part" id="ex-part-profit" style="display:none;">
  <h3>利润表（单位：万元）</h3>
  <h4>
    报表列数：
    <select class="ex-snippet-set-finance">
      <option value="4">四列</option>
      <option value="5">五列</option>
    </select>
  </h4>
  <table class="table table-bordered table-striped">
    <tr style="display:none;">
      <td>
        <a class="ex-snippet-add-col">增加</a>
      </td>
      <td style="display:none;" class="ex-snippet">
        <a class="ex-snippet-del-col">删除</a>
      </td>
    </tr>
    <tr>
      <th>报告期</th>
      <td style="display:none;" class="ex-snippet">
        <input type="text" class="ex-datepicker ex-auto-source ex-auto-source-date"
        data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months"
        field-name="company.profits.arr.report_time"/>
      </td>
    </tr>
    <tr>
      <td>报表类型</td>
      <td style="display:none;" class="ex-snippet">
        <select field-name="company.profits.arr.report_type">
	  <option>月报</option>
	  <option>年报</option>
	</select>
      </td>
    </tr>
    <tr>
      <th>一、主营业务收入</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.main_income"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：主营业务成本</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.main_cost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>主营业务税金及附加</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.main_addition"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <th>二、主营业务利润</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.main_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>加：其他业务利润</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.other_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：营业费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.operate_cost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>管理费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.manage_cost"/>
          <span class="add-on">万</span>
        </span>
  </td>
    </tr>
    <tr>
      <td>财务费用</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.finance_cost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>三、营业利润</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.operate_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>加：投资收益</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.invest_income"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>补贴收入</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.subsidy_income"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>营业外收入</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.other_income"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：营业外支出</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.other_cost"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>四、利润总额</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.total_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>减：所得税</td>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.income_tax"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <th>五、净利润</th>
      <td style="display:none;" class="ex-snippet">
        <span class="input-append">
          <input type="number" step="any" field-name="company.profits.arr.net_profit"/>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>
</div>
<!-- end of 利润表 -->
