<div class="ex-part" id="ex-part-program-reasonable" style="display:none;">
  <h3>二、授信用途及授信额度需求的合理性分析</h3>
  <h4>（三）授信额度需求的合理性分析</h4>
  <h4>1、申请人的流动资金测算如下表：（单位：万元、天）</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td class="span6">报告期销售利润</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">报告期销售收入</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">报告期销售成本</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>报告期销售利润率：</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>预计销售收入年增长率:</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="sale_increase_rate">
          <span class="add-on">%</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">存货周期天数</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">天</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">应收账款周转天数</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">天</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">应付账款周转天数</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">天</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">预付账款周转天数</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">天</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">预收账款周转天数</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">天</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>营运资金周转次数：</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">次</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">营运资金量</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>借款人自有资金：</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" disabled>
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>现有流动资金贷款：</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="program.analyze.flow_loan">
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">其他渠道提供的营运资金</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" name="program.analyze.other_operate_cash">
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="span6">新增流动贷款需要</td>
      <td class="span6">
        <span class="input-append">
          <input type="number" step="any" name="program.analyze.other_flow_load">
          <span class="add-on">万</span>
        </span>
      </td>
    </tr>
  </table>
  <h4>2、合理性分析总结</h4>
  <textarea name="program.analyze.reasonable" rows="5" placeholder="TODO:"></textarea>
</div>
