<!-- 授信方案简述 -->
<div class="ex-part" id="ex-part-program" style="display:none;">
  <h3>前言 授信方案简述（单位：万元）</h3>
  <h4>1、新增授信方案</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>敞口</td>
      <td>
        <span class="input-append">
          <input type="number" step="any" name="program.expose"/>
          <span class="add-on">万</span>
        </span>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>额度循环</td>
      <td>
	<select name="program.limit_cycle">
	  <option value="true">是</option>
	  <option value="false">否</option>
	</select>
      </td>
      <td>调剂使用</td>
      <td>
	<select name="program.regulate">
	  <option value="true">是</option>
	  <option value="false">否</option>
	</select>
      </td>
    </tr>
  </table>
  <table class="table table-bordered table-striped">
    <tr>
      <td><a class="ex-snippet-add-row">增加</a></td>
      <td>用信品种</td>
      <td>额度</td>
      <td>敞口</td>
      <td>价格</td>
      <td>保证金</td>
      <td>备注</td>
    </tr>
    <tr style="display:none;" class="ex-snippet">
      <td>
	<a class="ex-snippet-del-row">删除</a>
      </td>
      <td>
	<select class="ex-auto-source-compute" field-name="program.varieties.arr.mtype">
	  <option>流动资金贷款</option>
	  <option>银行承兑汇票</option>
	  <option>商业承兑汇票保贴</option>
	  <option>商业承兑汇票贴现</option>
	  <option>信用证</option>
	  <option>出口押汇</option>
	  <option>进口押汇</option>
	</select>
      </td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" field-name="program.varieties.arr.limit"/>
	  <span class="add-on">万</span>
	</span>
      </td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" field-name="program.varieties.arr.expose"/>
	  <span class="add-on">万</span>
	</span>
      </td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" field-name="program.varieties.arr.price"/>
	  <span class="add-on">万</span>
	</span>
      </td>
      <td>
	<span class="input-append">
	  <input type="number" step="any" field-name="program.varieties.arr.deposit"/>
	  <span class="add-on">万</span>
	</span>
      </td>
      <td>
	<input type="text" field-name="program.varieties.arr.remark"/>
      </td>
    </tr>
  </table>
  <h4>是否有存量授信:
    <select class="ex-snippet-exist" data-target="company.program.count">
      <option value="true">是</option>
      <option value="false">否</option>
    </select>
  </h4>
  <div style="display:none;">
    <h4>2、存量授信情况</h4>
    <h5>申请人是第<input type="number" name="company.program.count">次在我行申请授信，目前存量授信情况如下：</h5>
    <h5>（1）申请人在我行存量授信</h5>
    <table class="table table-bordered table-striped">
      <tr>
	<td>已批额度</td>
	<td>
	  <span class="input-append">
            <input type="number" step="any" name="company.program.amount"/>
            <span class="add-on">万</span>
	  </span>
	</td>
	<td>已批敞口</td>
	<td>
	  <span class="input-append">
            <input type="number" step="any" name="company.program.expose"/>
            <span class="add-on">万</span>
	  </span>
	</td>
      </tr>
      <tr>
	<td>授信到期日：</td>
	<td>
	  <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" name="company.program.expire"/>
	</td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td>额度循环</td>
	<td>
	  <select name="company.program.limit_cycle">
	    <option value="true">是</option>
	    <option value="false">否</option>
	  </select>
	</td>
	<td>调剂使用</td>
	<td>
	  <select name="company.program.regulate">
	    <option value="true">是</option>
	    <option value="false">否</option>
	  </select>
	</td>
      </tr>
    </table>
    <table class="table table-bordered table-striped">
      <tr><th><a class="ex-snippet-add-row">新增抵押物</a></th></tr>
      <tr style="display:none;" class="ex-snippet">
	<td>
	  <a class="ex-snippet-del-row">删除</a>
	  抵押物
	</td>
	<td>
	  <span class="input-prepend">
	    <span class="add-on">位于</span>
	    <input type="text" field-name="company.program.pawns.arr.address">
	  </span>
	</td>
	<td>权属人</td>
	<td>
	  <input type="text" field-name="company.program.pawns.arr.owner">
	</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
	<td>土地面积</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pawns.arr.land_area">
	    <span class="add-on">平方米</span>
	  </span>
	</td>
	<td>房产面积</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pawns.arr.house_area">
	    <span class="add-on">平方米</span>
	  </span>
	</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
	<td>抵押/初评价值</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pawns.arr.value">
	    <span class="add-on">万</span>
	  </span>
	</td>
	<td>敞口抵押率</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pawns.arr.expose_rate">
	    <span class="add-on">%</span>
	  </span>
	</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
	<td>评估公司</td>
	<td colspan="3">
	  <input type="text" field-name="company.program.pawns.arr.evaluate_company">
	</td>
      </tr>
    </table>
    <table class="table table-bordered table-striped">
      <tr><th><a class="ex-snippet-add-row">新增质押物</a></th></tr>
      <tr class="ex-snippet" style="display:none;">
	<td>
	  <a class="ex-snippet-del-row">删除</a>
	  质押物
	</td>
	<td>
	  <span class="input-prepend">
	    <span class="add-on">位于</span>
	    <input type="text" field-name="company.program.pledges.arr.address">
	  </span>
	</td>
	<td>权属人</td>
	<td>
	  <input type="text" field-name="company.program.pledges.arr.owner">
	</td>
      </tr> 
      <tr class="ex-snippet" style="display:none;">
	<td>质押价值</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pledges.arr.value">
	    <span class="add-on">万</span>
	  </span>
	</td>
	<td>敞口质押率</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.pledges.arr.expose_rate">
	    <span class="add-on">%</span>
	  </span>
	</td>
      </tr>
      <tr class="ex-snippet" style="display:none;">
	<td>评估方法</td>
	<td colspan="3">
	  <input type="text" field-name="company.program.pledges.arr.evaluate_type">
	</td>
      </tr>
     <tr class="ex-snippet" style="display:none;">
     	<td>保证人</td>
     	<td colspan="3">
	  <input type="text" field-name="company.program.assure_person" />
	</td>
     </tr>
    </table>
    <h5>（2）存量授信所产生的效益</h5>
    <table class="table table-bordered table-striped">
      <tr>
	<td>存款年日均：</td>
	<td colspan="9">
	  <span class="input-append">
            <input type="number" step="any" name="company.program.total_average"/>
            <span class="add-on">万</span>
	  </span>
	</td>
      </tr>
      <tr>
	<td>其中：</td>
	<td>结算存款年日均</td>
	<td colspan="3">
	  <span class="input-append">
            <input type="number" step="any" name="company.program.settle_average">
            <span class="add-on">万</span>
	  </span>
	</td>
	<td colspan="2">保证金存款年日均</td>
	<td colspan="3">
	  <span class="input-append">
            <input type="number" step="any" name="company.program.deposit_average"/>
            <span class="add-on">万</span>
	  </span>
	</td>
      </tr>
      <tr>
	<td>
	  <a class="ex-snippet-add-row">增加</a>
	</td>
	<td>用信品种</td>
	<td>额度</td>
	<td>敞口</td>
	<td>发放日</td>
	<td>到期日</td>
	<td>利率</td>
	<td>保证金</td>
	<td>风险分类</td>
	<td>备注</td>
      </tr>
      <tr style="display:none;" class="ex-snippet">
	<td><a class="ex-snippet-del-row">删除</a></td>
	<td>
	  <input type="text" field-name="company.program.varieties.arr.mtype">
	</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.varieties.arr.limit">
	    <span class="add-on">万</span>
	  </span>
	</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.varieties.arr.expose">
	    <span class="add-on">万</span>
	  </span>
	</td>
	<td>
	  <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" field-name="company.program.varieties.arr.start">
	</td>
	<td>
	  <input type="text" class="ex-datepicker" data-date-format="yyyy-mm-dd" field-name="company.program.varieties.arr.end">
	</td>
	<td>
	  <span class="input-append">
	    <input type="number" step="any" field-name="company.program.varieties.arr.interest_rate">
	    <span class="add-on">%</span>
	  </span>
	</td>
	<td>
	  <span class="input-append">
            <input type="number" step="any" field-name="company.program.varieties.arr.deposit"/>
            <span class="add-on">万</span>
	  </span>
	</td>
	<td>
	  <input type="text" field-name="company.program.varieties.arr.risk">
	</td>
	<td>
	  <input type="text" field-name="company.program.varieties.arr.remark">
	</td>
      </tr>
    </table>
    <textarea placeholder="详细说明申请人我行历史授信记录、现有授信额度和使用情况、结算与综合收益情况、本行担保情况。" name="company.analyze.credit_detail"></textarea>
  </div>
</div>
<!-- end of 授信方案简述 -->
