<div class="ex-part" id="ex-part-program-analyze" style="display:none;">
	<h3>二、授信用途及授信额度需求的合理性分析</h3>
	<h4>（二）授信用途分析</h4>
	<textarea name="program.analyze.use" rows="5" placeholder="（1）如属综合授信额度，要标列出授信额度、敞口、品种、期限，需列明综合授信项下单项授信业务品种额度的分配情况，各单项额度对应的合同签订、商品交易、履约进度等情况。（2）授信额度项下贷款若需采取续贷或展期方式，应说明原贷款的使用情况及本次续贷或展期原因"></textarea>
</div>
