<div class="ex-part" id="ex-part-program-purpose" style="display:none;">
	<h3>二、授信用途及授信额度需求的合理性分析</h3>
	<h4 id="program-purpose">（一）授信用途</h4>
	贷款性质：
	<select name="program.mtype">
		<option>新贷</option>
		<option>续贷</option>
		<option>增额</option>
	</select>
</div>
