﻿<!-- 七、风险与防范措施 （一）本笔授信主要风险-->
<div class="ex-part" id="ex-part-risk" style="display:none;">
  <h3>七、风险与防范措施</h3>
  <h4>（一）本笔授信主要风险</h4>	
  <h4>1.企业经营指标存在的风险</h4>
  <h5>风险防范措施</h5>
  <textarea rows="4" placeholder="" name="program.analyze.risk_prevent"></textarea>
  <h4>其他风险</h4>
  <textarea rows="4" placeholder="TODO:" name="program.analyze.other_risk"></textarea>
</div>
<!-- end of 七、风险与防范措施 （一）本笔授信主要风险 -->
