<div class="well">
  <table class="table">
    <thead>
      <tr>
	<th class="center">
	  <a data-toggle="modal" href="#ex-add-business-modal"><i class="icon-plus"></i></a>
	</th>
	<th class="center">名称</th>
	<th class="center">创建时间</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(businesses, function(business){ %>
      <tr>
	<td>
	  <a class="ex-del-business" data-toggle="modal" data-id="<%= business.id %>" data-name="<%= business.name %>" href="#ex-del-confirm-business-modal"><i class="icon-minus"></i></a>
	</td>
	<td><a class="ex-show-business" data-id="<%= business.id %>"><%= business.name %></a></td>
	<td><%= business.date.toLocaleString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- add business modal -->
  <div class="modal hide fade"  id="ex-add-business-modal">
    <div class="modal-header">
      <h3>新增授信申报书</h3>
    </div>
    <div class="modal-body center">
      <input name="name" type="text" class="span10 ex-add-business-name" placeholder="请输入名称"/>
    </div>
    <div class="modal-footer">
      <input class="btn btn-primary ex-add-business" type="button" value="确定" />
    </div>
  </div><!-- /.ex-add-business-modal -->

  <!-- confirm del business modal -->
  <div class="modal hide fade"  id="ex-del-confirm-business-modal">
    <div class="modal-body center">
      <h3>确认删除?</h3>
    </div>
    <div class="modal-footer">
      <input class="btn btn-danger ex-del-confirm-business" type="button" value="确定" />
    </div>
  </div><!-- /.ex-del-confirm-business-modal -->
</div>
